{% extends "::base.html.twig" %}

{% form_theme form ':Form:captcha.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block content %}
    <div class="container">
        <section class="page-title">
            <h1>Send us a message</h1>
            <h2>Report bugs, send us ideas, suggestions...</h2>
        </section>
        <div class="page-title-underline"></div>
        
        {{ form_start(form) }}
            <div>
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            <div>
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
            <div>
                {{ form_widget(form.subject) }}
                {{ form_errors(form.subject) }}
            </div>
            <div>
                {{ form_widget(form.message) }}            
                {{ form_errors(form.message) }}            
            </div>
            <div>
                {{ form_widget(form.captcha) }}                              
            </div>
            <div>
                {{ form_widget(form.submit, {'attr': {'class': 'btn-submit', 'title': 'Send message'} }) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
