{% extends '::base.html.twig' %}
{% block title %}Home{% endblock %}

{% block content %}
    {#<div class="home-carousel">
        <div>
            <h1>Remember your dates<br>Remember your life</h1>
            
            {% if app.user.gender == 1 %}
                <img src="{{ asset('bundles/app/images/home/slider_02.jpg') }}" alt="Image_02">
            {% else %}
                <img src="{{ asset('bundles/app/images/home/slider_03.jpg') }}" alt="Image_03">
            {% endif %}
        </div>
        <div>
            {% if app.user.gender == 1 %}
                <img data-lazy="{{ asset('bundles/app/images/home/slider_01.jpg') }}" alt="Image_01">
            {% else %}
                <img data-lazy="{{ asset('bundles/app/images/home/slider_04.jpg') }}" alt="Image_04">
            {% endif %}
        </div>  
    </div>#}
    <div class="container" id="home-start">
        <h1>Never forget your dates</h1>
        {% if noProspect == true %}
            <a id="btn-first-contact" href="#" title="Add your first contact">{{ 'app.home.btn-add'|trans }}</a>
        {% endif %}
    </div>
    <div class="container-fluid" id="features"> 
        <div class="container">
            <div class="row">
                <div class="col-md-4 feature">
                    <i class="icon ion-ios-people"></i>
                    <h2>Save your contacts<br>Remember who and when</h2>
                    <p>Keep track of important people in your life<br>Filter them by relationship status<br>Upload their photos</p>
                </div>
                <div class="col-md-4 feature">
                    <i class="icon ion-ios-heart"></i>
                    <h2>Rate people<br>It's fun !</h2>
                    <p>Stop wasting your precious time with the wrong people</p>
                </div>
                <div class="col-md-4 feature">
                    <i class="icon ion-ios-flask-outline"></i>
                    <h2>Analyze your progress<br> with charts</h2>
                    <p>Avoid previous mistakes<br>watch some patterns emerge</p>
                </div>
            </div>
        </div>
    </div>
        
    {# Modales #}
    <div class="modal fade modal-full" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon ion-ios-close-empty"></i></span>
                    </button>
                    <h2 class="modal-title"></h2>
                </div>    
                <div class="modal-body" id="modal_prospect_form_body">
                    {# Form returned by ajax #}
                </div>                       
            </div>    
        </div>
    </div>

    {# POPUP OVERLAY D'ATTENTE AJAX #}
    <div class="overlay"></div>
    <div class="loader_standard">
        <p>Loading...</p>
    </div>
        
    <script type="text/javascript">          
        $(document).ready(function(){
            var locale = "{{ app.request.locale }}";
            
            $(".home-carousel").slick({ 
                lazyLoad: 'ondemand',
                dots: true,
                speed: 500,
                fade: true,
                cssEase: 'linear'
            });
            
            // Ajax: get form new prospect
            $("#btn-first-contact").click(function(event){
                event.preventDefault();
                
                $(".overlay").show(200, function(){
                    $(".loader_standard").show();
                });                       
              
                var url = Routing.generate('ajax_new_prospect_form', {'_locale': locale});
                
                $.get(url, function(response){                   
                    $(".modal-body").html(response); // coller la vue dans une modale  
                    
                    $(".loader_standard").hide(200, function(){
                        $(".overlay").hide();   
                    });                                     
                    
                    $(".modal-title").text("New contact");
                    $('.modal-full').modal('show');
                });
            });
            
            $('.modal-full').on('hidden.bs.modal', function (e) {
                $(".modal-body").empty();
                $(".modal-title").empty();
            });
        });
    </script>
{% endblock %}
