{% extends '::base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-header">Photos gallery</h1> 
{#        <a class="page-button" href="{{ path('prospect_new') }}" id="add_prospect" title ="Add prospect"><i class="fa fa-plus"></i> Add prospect</a>#}
        
        {#{% for photo in photos %}
            <div class="photo-block col-md-4">
                <div class="photo-frame">
                    <img src="{{ asset(photo.path) }}" alt="Photo">
                </div>
                <div class="photo-actions">
                    <a href="{{ path('photo_edit', {'id': photo.id}) }}" title="Crop photo">Crop</a>
                </div>
            </div>
        {% endfor %}
        <div class="clearfix"></div>#}

{#        <h1>Manage photos</h1>#}

        {{ form_start(editForm, {'attr': {'id':'form-edit-prospect'}}) }}          

            {{ form_label(editForm.photos) }}
            {{ form_errors(editForm.photos) }}

            <ul id="photo-list" data-prototype="{{ form_widget(editForm.photos.vars.prototype)|e }}">
                {% for photo in editForm.photos %}
                    <li class="col-md-4">
{#{{ dump(photo.vars.data) }}#}
                        <div class="photo-frame">
                            <img src="{{ asset(photo.vars.data.path) }}" alt="Photo" />
                        </div>
                        <div class="photo-actions">
                            <a href="{{ path('photo_edit', {'id': photo.vars.data.id}) }}" title="Crop photo">Crop</a>
                        </div>
                        {{ form_errors(photo) }}
                        {{ form_widget(photo) }}                    
                    </li>
                {% endfor %}
            </ul>       
            <div class="clearfix"></div>
            
            {{ form_row(editForm.submit) }}
            <div class="hidden">{{ form_rest(editForm) }}</div>
        {{ form_end(editForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% javascripts
        'bundles/app/js/photos.js'
    %}        
    <script src="{{ asset_url }}"></script>
    {% endjavascripts%}
{% endblock %}