{% extends '::base.html.twig' %}
{% block title %}Encounters{% endblock %}

{% set csrfDelete = csrf_token('delete') %}

{% block content %}    
    <div class="container">
        <section class="page-title">
            <h1>Encounters with {{ prospect.firstname }}</h1> 
        </section>
        <div class="page-title-underline"></div> 

        <div class="page-nav">            
            <a class="btn-basic" href="{{ path('prospect_show', {'id': prospect.id}) }}" title="Back to contact">Back to contact</a>
            <a class="btn-basic-ico" href="#" id="add_encounter" title ="Add encounter"><i class="icon ion-ios-plus-empty"></i><span>Add an encounter</span></a>
        </div>
            
        {# Set euro currencies array #}
        {% set localesEuro = 'es,fr,it,de' %}
            
        <div class="row">
            {% for encounter in encounters %}    
                <div class="col-md-4" id="{{ encounter.id }}">
                    <div class="encounter-box">
                        <div class="encounter-date-details">
                            <div class="encounter-date">
    {#                            {{ encounter.date|localizeddate('short', 'short', app.request.locale) }}#}
                                {% if app.request.locale == 'fr' %}
                                    {{ encounter.date|date("d-m-Y \à H:i") }}
                                {% else %}
                                    {{ encounter.date|date("Y-m-d") }} at {{ encounter.date|date("H:i") }}
                                {% endif %}
                                
                                {% if encounter.duration %}
                                    <span class="pull-right" title="Duration">
                                        {{ encounter.duration }} h
                                    </span>
                                {% else %}
                                    <span class="pull-right" id="no-duration" title="Duration">
                                        ?
                                    </span>
                                {% endif %}                                
                            </div>
                            <div class="encounter-details">
                                <div class="venues">
                                    <ol>
                                        {% if encounter.venues %}
                                            {% for venue in encounter.venues %}
                                                <li class="venue">{{ venue }}</li>
                                            {% endfor %}                                       
                                        {% endif %}
                                    </ol>
                                </div>
                                <div>
                                    <span>Total expenses </span>{{ encounter.expenses }}{% if app.request.locale in localesEuro %} €{% else %} ${% endif %}
                                </div>
{#                                <div><span>Changed venue </span>{% if encounter.venueChange == 1 %}Yes{% else %}No{% endif %}</div>                                #}
                            </div>
                        </div>
                        <div class="encounter-actions">
                            <ul>
                                <li><a class="edit-encounter" href="#" data-id="{{ encounter.id }}" title="Edit encounter"><i class="icon ion-ios-compose-outline"></i></a></li>
                                <li><a class="delete-encounter" href="#" data-id="{{ encounter.id }}" title="Delete encounter"><i class="icon ion-ios-trash-outline"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                {#{% if loop.index % 3 == 0 %}
                    </div>
                    <div class="row">
                {% endif %}  #}
            {% endfor %}           
        </div>
            
        {# Modales #}
        <div class="modal fade modal-full" id="modal_encounter_form" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-scroll">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="icon ion-ios-close-empty"></i></span>
                        </button>
                        <h2 class="modal-title">{# Populated with jquery #}</h2>
                    </div>    
                    <div class="modal-body" id="modal_encounter_form_body">
                        {# Form returned by ajax #}
                    </div>                       
                </div>    
            </div>
        </div>

        {# POPUP OVERLAY D'ATTENTE AJAX #}
        <div class="loader_standard">
            <p>Loading...</p>        
        </div>
    </div>       
    <script type="text/javascript">
        $(document).ready(function(){
            var locale = "{{ app.request.locale }}";            
            
            
            // Ajax: get form new
            $("#add_encounter").click(function(event){
                event.preventDefault();
                
                $(".loader_standard").show();
                
                var prospect_id = "{{ prospect.id }}";
                var url = Routing.generate('ajax_new_encounter_form', {'prospect_id': prospect_id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $("#modal_encounter_form_body").html(response); // coller la vue dans une modale  
                    
                    $(".loader_standard").hide(200, function(){});                                     
                    
                    $(".modal-title").text("New encounter");
                    $('.modal-full').modal('show');
                });
            });
            
            
            // Ajax: get form edit
            $(".edit-encounter").click(function(event){
                event.preventDefault();
                
                $(".loader_standard").show();
                
                var id = $(this).data("id");
                var url = Routing.generate('ajax_edit_encounter_form', {'id': id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $("#modal_encounter_form_body").html(response); // coller la vue dans une modale  
                    
                    $(".loader_standard").hide(200, function(){});                                     
                    
                    $(".modal-title").text("Edit encounter");
                    $('.modal-full').modal('show');
                });
            });  
            
            // Cleanup modal at close
            $('.modal-full').on('hidden.bs.modal', function (e) {
                $(".modal-body").empty();
                $(".modal-title").empty();
            });
            
            // Delete confirm **************************************************
            $(".encounter-actions").on("click", ".delete-encounter", function(event){
                event.preventDefault();

                var id = $(this).data("id");                

                $.confirm({
                    animation: 'zoom',
                    animationBounce: 1,
                    confirm: function(){
                        ajaxDeleteEncounter(id);
                    },
                    cancel: function(){
                        console.log('the user clicked cancel');
                    }
                });
            });

            /**
             * Deletes an encounter with ajax
             * 
             * @param {int} id
             * @returns {undefined}
             */
            function ajaxDeleteEncounter(id)
            {                
                var url = Routing.generate('ajax_delete_encounter', {'id': id, '_locale': locale});  
                var csrfDelete = "{{ csrfDelete }}";
                var data = {'csrfDelete': csrfDelete};

                $.post(url, data, function(response){

                    var data = $.parseJSON(response);
                    var id = data.id;

                    $("#"+id).remove(); 
                });
            }
        });
    </script>        
{% endblock %}
