{% extends '::base.html.twig' %}
{% block title %}Encounters{% endblock %}

{% block content %}    
    <div class="container">
        <section class="page-title">
                <h1>Encounters</h1> 
    {#            <h2>Add up to 5 photos, replace or delete them, then validate your changes at the bottom of the page</h2>#}
        </section>
        <div class="page-title-underline"></div> 

        <a class="page-button" href="{{ path('encounter_new', {'prospect_id': prospect.id}) }}" id="add_encounter" title ="Add encounter"><i class="fa fa-plus"></i> Add an encounter</a>

        <table class="table table-hover">
            <thead>
                <tr>                    
                    <th>Date</th>
                    <th>Place</th>
                    <th>Duration</th>
                    <th>Total expenses</th>
                    <th>Venue Change</th>
                    <th>Venues list</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for encounter in encounters %}
                <tr>                    
                    <td>{% if encounter.date %}{{ encounter.date|date('Y-m-d H:i') }}{% endif %}</td>
                    <td>{{ encounter.place }}</td>
                    <td>{{ encounter.duration }}</td>
                    <td>{{ encounter.expenses }}</td>
                    <td>{{ encounter.venueChange }}</td>
                    <td>
                        {% if encounter.venuesList %}
                            {{ encounter.venuesList }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('encounter_show', { 'id': encounter.id }) }}">show</a>                        
                        <a href="{{ path('encounter_edit', { 'id': encounter.id }) }}">edit</a>                        
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>   
    </div>
{% endblock %}
