{% extends '::base.html.twig' %}

{% block title %}Encounter show{% endblock %}

{% block content %}
    <h1>Encounter</h1>

    <table class="">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ entity.lieu }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ entity.duree }}</td>
            </tr>
            <tr>
                <th>Depensestotal</th>
                <td>{{ entity.depensesTotal }}</td>
            </tr>
            <tr>
                <th>Changementlieu</th>
                <td>{{ entity.changementLieu }}</td>
            </tr>
            <tr>
                <th>Listelieux</th>
                <td>{{ entity.listeLieux }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('encounter') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('encounter_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
