<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>        
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' 
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.css'
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap-theme.css'             
                'bundles/app/css/custom.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% block javascripts %}
            {% javascripts
                '%kernel.root_dir%/../vendor/components/jquery/jquery.js'  
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.js'                                
                'bundles/app/packages/jquery.backstretch.min.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        <section id="login-top-bar">
            <div class="container">
                {{ block('fos_user_content') }}
            </div>
        </section>
        <div class="container">
                        
            {% block body %}   
                <div id="login-body">
                    <h1>Welcome to the PlayerManager<span> beta</span></h1>
                    <p>New to the site? <a href="{{ path('fos_user_registration_register') }}" title="Register">Register here</a></p>
                </div>
                
                {#<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="registerModalLabel">Register</h4>
                            </div>
                            <div class="modal-body">
                                {{ block('fos_user_register') }}
                            </div>
                        </div>
                    </div>
                </div>#}
            {% endblock %}
            
            <footer>
            </footer>
        </div>  
            
        <script type="text/javascript">
            $(document).ready(function(){
                
                var loginImage1 = "{{ asset('bundles/app/images/login/manager_08.jpg') }}"; 
                {#var loginImage2 = "{{ asset('bundles/app/images/login/manager_03.jpg') }}"; 
                var loginImage3 = "{{ asset('bundles/app/images/login/manager_02.jpg') }}";#} 
                
                $.backstretch(loginImage1);
{#                $.backstretch([loginImage1, loginImage2, loginImage3], {duration: 5000, fade: 750});#}

            });
        </script>    
    </body>
</html>
