<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>        
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' 
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.css'
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap-theme.css'             
                'bundles/app/css/custom.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% block javascripts %}
            {% javascripts
                '%kernel.root_dir%/../vendor/components/jquery/jquery.js'  
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.js'                                
                'bundles/app/packages/jquery.backstretch.min.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>                        
        {% block content %}                  
            {{ block('fos_user_register') }}                   
        {% endblock %}

        <footer>
        </footer>
            
        <script type="text/javascript">
            $(document).ready(function(){
                
                var loginImage1 = "{{ asset('bundles/app/images/register/manager_03.jpg') }}"; 
                {#var loginImage2 = "{{ asset('bundles/app/images/login/manager_03.jpg') }}"; 
                var loginImage3 = "{{ asset('bundles/app/images/login/manager_02.jpg') }}";#} 
                
                $.backstretch(loginImage1);
{#                $.backstretch([loginImage1, loginImage2, loginImage3], {duration: 5000, fade: 750});#}

            });
        </script>    
    </body>
</html>
