<!DOCTYPE html>
<html>
    
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Mnaomai{% endblock %}</title>        
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite' 
            'bundles/app/packages/bootstrap-3.3.6/css/bootstrap.min.css'
            'bundles/app/packages/bootstrap-3.3.6/css/bootstrap-theme.min.css'
            '%kernel.root_dir%/../vendor/components/jqueryui/themes/base/jquery-ui.min.css'
            'bundles/app/packages/Timepicker-addon/jquery-ui-timepicker-addon.css'
            'bundles/app/packages/Craftpip-jquery-confirm-1.7.9/jquery-confirm.css'
            'bundles/app/packages/font-awesome-4.4.0/css/font-awesome.min.css'
            'bundles/app/packages/Jcrop/css/jquery.Jcrop.min.css'           
            'bundles/app/packages/colorbox/colorbox.css'
            'bundles/app/css/custom.css'            
            'bundles/app/css/ionicons.min.css'                     
            'bundles/app/packages/star-rating-svg/css/star-rating-svg.css'                     
            'bundles/app/packages/percircle/css/percircle.css'            
        %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block javascripts %}
        {% javascripts
            '%kernel.root_dir%/../vendor/components/jquery/jquery.js'
            '%kernel.root_dir%/../vendor/components/jqueryui/jquery-ui.min.js'
            'bundles/app/packages/moment-with-locales.js'
            'bundles/app/packages/Timepicker-addon/jquery-ui-timepicker-addon.js'
            'bundles/app/packages/bootstrap-3.3.6/js/bootstrap.min.js'
            'bundles/app/packages/Craftpip-jquery-confirm-1.7.9/jquery-confirm.js'            
            'bundles/app/packages/colorbox/jquery.colorbox-min.js'
            'bundles/app/js/helpers.js'                       
            'bundles/app/packages/star-rating-svg/jquery.star-rating-svg.js'            
            'bundles/app/packages/jquery.backstretch.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>
    <div id="confirm-panel"></div>
    
    <section id="top-bar">
        <div class="container">
            <div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="logout pull-right" href="{{ path('fos_user_security_logout') }}" title="{{ 'app.nav.logout'|trans }}">{{ 'app.nav.logout'|trans }}</a>           
            {% endif %}
            </div>
        </div>
    </section>
    
        <div class="container">
            <header>
                <nav class="navbar navbar-default">
                    <div class="container-fluid header-container">
                        <div class="navbar-header col-md-4">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ path('home_index') }}" title="Mnaomai homepage">
                                <img src="{{ asset('bundles/app/images/logo-256.png') }}" alt="logo" />
                                <p>Mnaomai</p>
                            </a>
                        </div>

                        <div class="collapse navbar-collapse col-md-8 pull-right" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('prospect_list') }}" title="Contacts">Contacts</a></li>
                                <li><a href="{{ path('prospect_off') }}" title="Old contacts">{{ 'app.nav.oldcontacts'|trans }}</a></li>
{#                                <li><a href="{{ path('photo_album', {'user_id': app.user.id}) }}" title="{{ 'app.nav.album'|trans }}">{{ 'app.nav.album'|trans }}</a></li>#}
{#                                <li><a href="#" title="{{ 'app.nav.album'|trans }}">{{ 'app.nav.album'|trans }}</a></li>#}
                                <li><a href="{{ path('dashboard', {'user_id': app.user.id}) }}" title="{{ 'app.nav.dashboard'|trans }}">{{ 'app.nav.dashboard'|trans }}</a></li>
                                <li><a href="{{ path('fos_user_profile_show') }}" title="{{ 'app.nav.profile'|trans }}">{{ 'app.nav.profile'|trans }}</a></li>                  
                                <li><a href="{{ path('contact_us') }}" title="{{ 'app.nav.contactus'|trans }}">{{ 'app.nav.contactus'|trans }}</a></li>  
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('user_index') }}" title="{{ 'app.nav.bo.user'|trans }}">{{ 'app.nav.bo.user'|trans }}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </header> 
        </div>
    

    {% block content %}          
    {% endblock %}

    <footer>
        <div class="container">
            © 2016 All Rights Reserved. Powered by Mnaomai.
        </div>
    </footer>

        
    <script type="text/javascript">  
        // GOOGLE ANALYTICS
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-79598001-1', 'auto');
        ga('send', 'pageview');
        
        
        $(document).ready(function(){
             
            var loginImage1 = "{{ asset('bundles/app/images/base/manager_11b.jpg') }}"; 
            var loginImage2 = "{{ asset('bundles/app/images/base/manager_13.jpg') }}"; 
            var loginImage3 = "{{ asset('bundles/app/images/base/manager_14.jpg') }}";
            var loginImage4 = "{{ asset('bundles/app/images/base/manager_36b.jpg') }}";
            var loginImage5 = "{{ asset('bundles/app/images/base/manager_42.jpg') }}";
            var loginImage6 = "{{ asset('bundles/app/images/base/manager_35.jpg') }}";
            
            $.backstretch([loginImage1, loginImage2, loginImage3, loginImage4, loginImage5, loginImage6], {duration: 6000, fade: 3000});
            
            // Active link in menu *********************************************
            // Page name must match EXACTLY with menu link name !!
            var currentTitle = $(document).attr('title');            

            $(".nav").find("li").each(function(index, element){
                if ($(element).find("a").html() === currentTitle ) {    
                    $(element).addClass("active");
                }
            });
            
            $(".navbar-nav").on("click", "li", function () {
                var activeLi = $(".nav").find(".active");
                $(activeLi).removeClass("active");
            });        
            // Active link in menu *********************************************
   
           
            getDatepicker();
            getDatetimepicker();           
        });
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
</body>

</html>