<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>        
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite' 
            '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.css'
            '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap-theme.css'             
            'bundles/app/css/custom.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block javascripts %}
        {% javascripts
            '%kernel.root_dir%/../vendor/components/jquery/jquery.js'  
            '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.js'                                
            'bundles/app/packages/jquery.backstretch.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>
    <section id="login-top-bar">
        {#<div class="container">
            
        </div>
        #}
        <div class="container">  
            <div class="row">
            <div class="col-md-1">
                <ul class="lang-menu">
                    {#<li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">Fr</a></li>
                    <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">En</a></li>#}
                    <li><a href="{{ path('change_locale', {'_locale': 'fr'} ) }}">Fr</a></li>
                    <li><a href="{{ path('change_locale', {'_locale': 'en'} ) }}">En</a></li>
                </ul>
            </div>
            <div class="col-md-11">
                {{ block('fos_user_content') }}
            </div>
        </div>
    </section>
    <div class="container">

        {% block content %}   
            <div id="login-body">
                <h1>{{ 'Welcome to the PlayerManager'|trans }}<span> beta</span></h1>
                <p>{{ 'New to the site?'|trans }}<a href="{{ path('fos_user_registration_register') }}" title="Register">{{ 'Register here'|trans }}</a></p>
            </div>                
        {% endblock %}

{#            <footer>#}
{#            </footer>#}
    </div>  

    <script type="text/javascript">
        $(document).ready(function(){

            var loginImage1 = "{{ asset('bundles/app/images/login/manager_08.jpg') }}"; 
            {#var loginImage2 = "{{ asset('bundles/app/images/login/manager_03.jpg') }}"; 
            var loginImage3 = "{{ asset('bundles/app/images/login/manager_02.jpg') }}";#} 

            $.backstretch(loginImage1);
{#                $.backstretch([loginImage1, loginImage2, loginImage3], {duration: 5000, fade: 750});#}

        });
    </script>    
</body>
</html>
