{% extends '::base.html.twig' %}
{% block title %}{{ 'app.nav.dashboard'|trans }}{% endblock %}

{% block content %}
    <div class="container" id="container-dashboard">
        
        <div class="row">
            <div class="col-md-4">
                <h2>How many showed up on the first date</h2>
                <canvas id="flakeChart" width="400" height="400"></canvas>
            </div>
            <div class="col-md-4">
                <h2>Where do you meet people</h2>
                <canvas id="sourceChart" width="400" height="400"></canvas>
            </div>
            <div class="col-md-4">
{#                <canvas id="myChart" width="800" height="800"></canvas>#}
            </div>
        </div>
        <div class="row" id="stats-relationship-types">
            <h2>Your types of relationship</h2>
            <div>
                <canvas id="relationshipTypesChart" width="800" height="300"></canvas>
            </div>
        </div>
    </div>
   
    {% block javascripts %}
        {{ parent() }}
        {% javascripts 'bundles/app/js/Chart.min.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    
    <script type="text/javascript">
        $(document).ready(function(){
            Chart.defaults.global.responsive = true;
            
            var ctx1 = $("#flakeChart");
            var ctx2 = $("#sourceChart");            
            var ctx3 = $("#relationshipTypesChart");
            
            var flakeStats = Array({{ flakeStats }});              
            var sourceStats = Array({{ sourceStats }});              
            var relationshipTypes = Array({{ relationshipTypes }});              
            
            var flakeChart = new Chart(ctx1, {
                type: 'doughnut',                
                data: {
                    labels: ["Flakes", "Showed up"],
                    datasets: [{
                        label: 'Number of Flakes',
                        data: flakeStats,
                        backgroundColor: [
                            "#FF6384",
                            "#36A2EB"                            
                        ],
                        hoverBackgroundColor: [
                            "#FF6384",
                            "#36A2EB"                            
                        ]
                    }]
                }                
            });
            
            var sourceChart = new Chart(ctx2, {
                type: 'doughnut',                 
                data: {
                    labels: ["Online", "In Real Life"],
                    datasets: [{
                        label: 'Where do you meet people',
                        data: sourceStats,
                        backgroundColor: [
                            "#649FB2",
                            "#A9E9FF"                            
                        ],
                        hoverBackgroundColor: [
                            "#649FB2",
                            "#A9E9FF"                            
                        ]
                    }]
                },
                options: {
                    cutoutPercentage: 50
                }
            });
          
            // RELATIONSHIP TYPES
            var data = {
                labels: ["Chatting", "One Night Stand", "Fuck Friend", "Dating", "Open Relationship", "Monogamous Relationship"],
                datasets: [{
                    label: "Relationship types",
                    backgroundColor: "rgba(255,99,132,0.2)",
                    borderColor: "rgba(255,99,132,1)",
                    borderWidth: 1,
                    hoverBackgroundColor: "rgba(255,99,132,0.4)",
                    hoverBorderColor: "rgba(255,99,132,1)",
                    data: relationshipTypes
                }]
            };
            
            var relationshipTypesChart = new Chart(ctx3, {
                type: 'bar',
                data: data
            });
        });        
    </script>
{% endblock %}

