{% extends '::base.html.twig' %}
{% block title %}Modifier le contact{% endblock %}

{% block body -%}
    <div class="container">
        <h1>Modifier un contact</h1>

        {{ form_start(edit_form, {'attr': {'id':'form-edit-prospect'}}) }}   
            {{ form_row(edit_form.pseudo) }}
            {{ form_row(edit_form.prenom) }}
            {{ form_row(edit_form.nom) }}
            {{ form_row(edit_form.age) }}
            {{ form_row(edit_form.ville) }}
            {{ form_row(edit_form.arrondissement) }}
            {{ form_row(edit_form.pays) }}
            {{ form_row(edit_form.numero) }}
            {{ form_row(edit_form.numeroDom) }}
            {{ form_row(edit_form.numeroEtranger) }}
            {{ form_row(edit_form.source) }}
            {{ form_row(edit_form.dateCreation, {'attr':{'class': 'datepicker'}, 'type':'text'  }) }}

            {#{{ form_label(edit_form.photos) }}
            {{ form_errors(edit_form.photos) }}

            <ul id="photo-list" data-prototype="{{ form_widget(edit_form.photos.vars.prototype)|e }}">
                {% for photo in edit_form.photos %}
                    <li>
                        <img class="img-responsive original-img" src="{{ asset(photo.vars.data.path) }}" alt="{{ asset(photo.vars.data.path) }}" />
                        {{ form_errors(photo) }}
                        {{ form_widget(photo) }}                    
                    </li>
                {% endfor %}
            </ul> #}      

            {{ form_row(edit_form.submit) }}
            <div class="hidden">{{ form_rest(edit_form) }}</div>
        {{ form_end(edit_form) }}


        <a href="{{ path('prospect') }}">Back to the list</a><br>

        {{ form(delete_form) }}


        <script type="text/javascript"> 

            $(document).ready(function(){            

                $('.form-input-ville').change(function(){
                    var ville = $(this).val().toLowerCase();

                    if(ville == 'paris'){
                        $('.row_arrondissement').show('slow');
                    }else{
                        $('.row_arrondissement').hide('slow');
                    }
                });            
            }); 
        </script>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% javascripts
        'bundles/app/js/photos.js'
    %}        
    <script src="{{ asset_url }}"></script>
    {% endjavascripts%}
{% endblock %}
