{% block content %}
    <div class="container">
        {{ form_start(editForm, {'attr': {'id':'form-edit-prospect', 'data': 'prospect-data', 'class': 'form-inline' }}) }} 
            <div class="form-group">
                {{ form_label(editForm.nickname, 'app.contact.list.new.nickname'|trans) }}
                {{ form_widget(editForm.nickname, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.nickname) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.firstname, 'app.contact.list.new.firstname'|trans) }}
                {{ form_widget(editForm.firstname, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.firstname) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.lastname, 'app.contact.list.new.lastname'|trans) }}
                {{ form_widget(editForm.lastname, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.lastname) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.age, 'app.contact.list.new.age'|trans) }}
                {{ form_widget(editForm.age, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.age) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.address, 'app.contact.list.new.address'|trans) }}
                {{ form_widget(editForm.address, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.address) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.city, 'app.contact.list.new.city'|trans) }}
                {{ form_widget(editForm.city, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.city) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.zipcode, 'app.contact.list.new.zipcode'|trans) }}
                {{ form_widget(editForm.zipcode, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.zipcode) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.country, 'app.contact.list.new.country'|trans) }}
                {{ form_widget(editForm.country, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.country) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.cellNumber, 'app.contact.list.new.cellnumber'|trans) }}
                {{ form_widget(editForm.cellNumber, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.cellNumber) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.homeNumber, 'app.contact.list.new.homenumber'|trans) }}
                {{ form_widget(editForm.homeNumber, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.homeNumber) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.job, 'app.contact.list.new.job'|trans) }}
                {{ form_widget(editForm.job, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.job) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.source) }}
                {{ form_widget(editForm.source, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.source) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.zodiac, 'app.contact.list.new.zodiac'|trans) }}
                {{ form_widget(editForm.zodiac, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.zodiac) }}
            </div>

            {{ form_row(editForm.submit, {'label': 'app.contact.list.new.submit', 'attr': {'class': 'btn-basic-rose'} }) }}
            
            <div class="hidden">{{ form_rest(editForm) }}</div>
        {{ form_end(editForm) }}        

{#        {{ form_start(delete_form, {'attr': {'id':'form-delete-prospect', 'title':'Delete contact'}}) }}                       
            {{ form_widget(delete_form.submit, {'label': '<i class="icon ion-ios-trash-outline"></i>'}) }}
        {{ form_end(delete_form) }} #}      
    </div>
    
    <script type="text/javascript"> 
        $(document).ready(function(){            
          
        }); 
    </script>
{% endblock %}