{% extends '::base_ajax.html.twig' %}
{#{% block title %}Modifier le contact{% endblock %}#}

{#{% form_theme delete_form _self %}

{% block button_widget %}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain)|raw }}</button>    
{% endblock %}#}

{% block content %}
    <div class="container">
        {{ form_start(editForm, {'attr': {'id':'form-edit-prospect', 'data': 'prospect-data', 'class': 'form-inline' }}) }} 
            <div class="form-group">
                {{ form_label(editForm.nickname) }}
                {{ form_widget(editForm.nickname, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.nickname) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.firstname) }}
                {{ form_widget(editForm.firstname, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.firstname) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.lastname) }}
                {{ form_widget(editForm.lastname, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.lastname) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.age) }}
                {{ form_widget(editForm.age, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.age) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.address) }}
                {{ form_widget(editForm.address, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.address) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.city) }}
                {{ form_widget(editForm.city, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.city) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.zipcode) }}
                {{ form_widget(editForm.zipcode, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.zipcode) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.country, 'Native country') }}
                {{ form_widget(editForm.country, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.country) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.cellNumber) }}
                {{ form_widget(editForm.cellNumber, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.cellNumber) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.homeNumber) }}
                {{ form_widget(editForm.homeNumber, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.homeNumber) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.job) }}
                {{ form_widget(editForm.job, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.job) }}
            </div>
            <div class="form-group">
                {{ form_label(editForm.source) }}
                {{ form_widget(editForm.source, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(editForm.source) }}
            </div>

            {{ form_row(editForm.submit, {'attr': {'class': 'btn-basic-rose'} }) }}
            
            <div class="hidden">{{ form_rest(editForm) }}</div>
        {{ form_end(editForm) }}        

{#        {{ form_start(delete_form, {'attr': {'id':'form-delete-prospect', 'title':'Delete contact'}}) }}                       
            {{ form_widget(delete_form.submit, {'label': '<i class="icon ion-ios-trash-outline"></i>'}) }}
        {{ form_end(delete_form) }} #}      
    </div>
    
    <script type="text/javascript"> 
        $(document).ready(function(){            
          
        }); 
    </script>
{% endblock %}