{% extends '::base_ajax.html.twig' %}
{#{% block title %}Modifier le contact{% endblock %}#}

{% form_theme delete_form _self %}

{% block button_widget %}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain)|raw }}</button>    
{% endblock %}

{% block content %}
    <div class="container">
        {{ form_start(editForm, {'attr': {'id':'form-edit-prospect', 'data': 'prospect-data'}}) }}   
            {{ form_row(editForm.nickname) }}
            {{ form_row(editForm.firstname) }}
            {{ form_row(editForm.lastname) }}
            {{ form_row(editForm.age) }}
            {{ form_row(editForm.address) }}
            {{ form_row(editForm.city) }}
            <div class="row-paris-district">
                {{ form_label(editForm.parisDistrict) }}
                {{ form_widget(editForm.parisDistrict) }}
                {{ form_errors(editForm.parisDistrict) }}
            </div>
            {{ form_row(editForm.country) }}
            {{ form_row(editForm.cellNumber) }}
            {{ form_row(editForm.homeNumber) }}
            {{ form_row(editForm.source) }}
{#            {{ form_row(editForm.dateCreation, {'attr':{'class': 'datepicker'}, 'type':'text'  }) }}                 #}

            {{ form_row(editForm.submit) }}
            <div class="hidden">{{ form_rest(editForm) }}</div>
        {{ form_end(editForm) }}        

        {{ form_start(delete_form, {'attr': {'id':'form-delete-prospect', 'title':'Delete contact'}}) }}                       
            {{ form_widget(delete_form.submit, {'label': '<i class="icon ion-ios-trash-outline"></i>'}) }}
        {{ form_end(delete_form) }}       
    </div>
    
    <script type="text/javascript"> 
        $(document).ready(function(){            
          
        }); 
    </script>
{% endblock %}