{% extends '::base.html.twig' %}
{% block title %}Modifier le contact{% endblock %}

{% block body -%}
    <div class="container">
        <h1>Modifier un contact</h1>

        {{ form_start(edit_form, {'attr': {'id':'form-edit-prospect'}}) }}   
            {{ form_row(edit_form.nickname) }}
            {{ form_row(edit_form.firstname) }}
            {{ form_row(edit_form.lastname) }}
            {{ form_row(edit_form.age) }}
            {{ form_row(edit_form.city) }}
            {{ form_row(edit_form.parisDistrict) }}
            {{ form_row(edit_form.country) }}
            {{ form_row(edit_form.cellNumber) }}
            {{ form_row(edit_form.homeNumber) }}
            {{ form_row(edit_form.source) }}
            {{ form_row(edit_form.creationDate, {'attr':{'class': 'datepicker'}, 'type':'text'  }) }}                 

            {{ form_row(edit_form.submit) }}
            <div class="hidden">{{ form_rest(edit_form) }}</div>
        {{ form_end(edit_form) }}


        <a href="{{ path('prospect') }}">Back to the list</a><br>

        {{ form(delete_form) }}


        <script type="text/javascript"> 

            $(document).ready(function(){            

                $('.form-input-city').change(function(){
                    var city = $(this).val().toLowerCase();

                    if(city == 'paris'){
                        $('.row_parisDistrict').show('slow');
                    }else{
                        $('.row_parisDistrict').hide('slow');
                    }
                });            
            }); 
        </script>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% javascripts
        'bundles/app/js/photos.js'
    %}        
    <script src="{{ asset_url }}"></script>
    {% endjavascripts%}
{% endblock %}
