{% extends '::base.html.twig' %}
{% import ":Frontend/Macros/Prospect:photoDisplayIndex.html.twig" as photoDisplayIndex %}

{% block title %}Prospects{% endblock %}

{% block body -%}
    <div class="container">        
        <h1 class="page-header">Prospects</h1> 
        <a class="page-button" href="{{ path('prospect_new') }}" id="add_prospect" title ="Add prospect"><i class="fa fa-plus"></i> Add prospect</a>
        
        <table id="table-prospects" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>First name</th>
                    <th>last name</th>
                    <th>Age</th>
                    <th>City</th>
                    <th>Country</th>
                    <th>Source</th>
                    <th>Photo</th>
                    <th>Created</th>
                    <th>Actions</th> 
                </tr>
            </thead>
            <tbody>
            {% for prospect in prospects %}
                <tr id="{{ prospect.id }}">
                    <td>
                        {% if prospect.pseudo %}
                            {{ prospect.pseudo }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ prospect.prenom }}</td>
                    <td>{{ prospect.nom }}</td>
                    <td>{{ prospect.age }}</td>
                    <td>{{ prospect.ville }}</td>
                    <td>{{ prospect.pays }}</td>
                    <td>{{ prospect.source }}</td>
                    <td>                          
                        {{ photoDisplayIndex.primaryPhotoOrLast(prospect.photos) }}                                              
                    </td>
                    <td>
                        {% if prospect.dateCreation %}{{ prospect.dateCreation|date('d-m-Y') }}{% endif %}
                    </td>
                    <td>
                        <a class="" href="{{ path('prospect_show', { 'id': prospect.id }) }}"><i class="fa fa-eye"></i></a>                       
                        <a class="" href="{{ path('prospect_edit', { 'id': prospect.id }) }}"><i class="fa fa-pencil-square-o"></i></a>  
                        <a href="#" class="delete" data-id="{{ prospect.id }}" data-token="{{ csrf_token }}" title="Delete"><i class="fa fa-trash-o"></i></a>
                        {% if prospect.relationship %}
    {#                        <a class="" href="{{ path('relationship_show', { 'id': entity.relationship.id }) }}">relationship</a>#}
                        {% endif %}
                        <a class="" href="{{ path('gallery', {'prospect_id': prospect.id}) }}" title="Gallery">Gallery</a>
                        <a class="" href="{{ path('relationship_edit', {'id': prospect.relationship.id}) }}" title="Relationship">Relationship</a>
{#                        <a class="" href="{{ path('', {'prospect_id': prospect.id}) }}" title="Encounters">Encounters</a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>   
       
            
        {# Modales #}
        <div class="modal fade" id="modal_form_new" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">                    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Ajouter un contact</h4>
                    </div>    
                    <div class="modal-body" id="modal_form_new_body">
                        {# Form returned by ajax #}
                    </div>    
                    <div class="modal-footer">    
                    </div>    
                </div>    
            </div>
        </div>

        {# POPUP OVERLAY D'ATTENTE AJAX #}
        <div class="overlay"></div>
        <div class="loader_standard">
            <p>Chargement...</p>
            <img src="{{ asset('bundles/app/images/ajax-loader.gif') }}" />
        </div>
    </div> 
    {% block javascript %}
        {% javascripts 
            'bundles/app/js/prospect_index.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    
    <script type="text/javascript">
        $(document).ready(function(){                   
            
            $.fn.dataTable.moment('DD-MM-YYYY' );
            
            initTableProspects();
            
            function initTableProspects()
            {
                $("#table-prospects").DataTable({
                    "language":{
                        "lengthMenu": "_MENU_ entries"
                    },                    
                    "order": [[ 9, "desc" ]],
                    "columns": [
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        { 
                            className: "last-photo",                            
                            "width": "80px",                            
                            "height": "80px"                            
                        },
                        null,
                        { 
                            className: "actions",
                            "width": "150px"
                        }
                    ]
                });
            }
            
            // Ajax: get add form
            $("#add_prospect").click(function(event){
                event.preventDefault();
                
                $(".overlay").show(200, function(){
                    $(".loader_standard").show();
                });                
                
                var url = Routing.generate('ajax_new_prospect_form');
                
                $.get(url, function(response){                    
                    
                    $("#modal_form_new_body").html(response); // coller la vue dans une modale                  
                    $('#modal_form_new').appendTo('body');
                    
                    $(".loader_standard").hide(200, function(){
                        $(".overlay").hide();   
                    });                                     
                    
                    $('#modal_form_new').modal('show');
                });
            });
            
            $("#table-prospects").on("click", ".delete", function(event){
                event.preventDefault();
                
                var prospect_id = $(this).data("id");
                var csrf_token = $(this).data("token");
                
                $.confirm({
                    confirm: function(){
                        ajaxDeleteProspect(prospect_id, csrf_token);
                    },
                    cancel: function(){
                        console.log('the user clicked cancel');
                    }
                });
            });
            
            /**
             * Deletes a prospect with ajax
             * 
             * @param {int} prospect_id
             * @param {string} csrf_token
             * @returns {undefined}
             */
            function ajaxDeleteProspect(prospect_id, csrf_token)
            {                
                var url = Routing.generate('ajax_delete_prospect', {'id': prospect_id});                
                var data = {'csrf_token': csrf_token};

                $.post(url, data, function(response){

                    var data = $.parseJSON(response);

                    var table = $("#table-prospects").DataTable();
                    var tr = $("#" + data.id);
                    
                    table.row(tr).remove().draw(false); // false = conserve la pagination actuelle                    

                });
            }
            
        });
    </script>
{% endblock %}
