{% extends '::base.html.twig' %}
{% import ":Frontend/Macros/Prospect:photoDisplay250px.html.twig" as photoDisplayIndex %}
{% block title %}Contacts{% endblock %}

{% block content %}
    <div class="container" id="container-prospect">        
        <section class="page-title">
            <h1>Contacts</h1> 
{#            <h2>Add up to 5 photos, replace or delete them, then validate your changes at the bottom of the page</h2>#}
        </section>
        <div class="page-title-underline"></div> 

        <div class="page-nav">
            <a class="btn-basic-ico" href="#" id="add_prospect" title ="Add contact"><i class="icon ion-ios-plus-empty"></i><span>Add contact</span></a>
            <a class="btn-basic-ico pull-right" href="{{ path('prospect') }}" id="prospect_index" title ="View as a table (with reduced options)"><i class="icon ion-ios-list-outline"></i></a>
        </div>
        
        {% for prospect in pagination %}
            <div class="prospect-record row" id="{{ prospect.id }}">
                <div class="row row-info">
                    <div class="prospect-record-photo col-md-3">
                        {{ photoDisplayIndex.primaryPhotoOrLast(prospect.photos) }}                     
                    </div>
                    <div class="prospect-record-card col-md-9">
                        <p class="record-firstname">{{ prospect.firstname }} {{ prospect.lastname }}</em></p>
                        <p class="record-date pull-right">Created: {{ prospect.creationDate|date('d-m-Y') }}</p>
                        <div class="card-separator"></div>

                        <p class="record-info"><span>Age:</span> {{ prospect.age }}</p>
                        <p class="record-info"><span>City:</span> {{ prospect.city }}</p>
                        <p class="record-info"><span>Cellphone:</span> {{ prospect.cellNumber }}</p>                    
                        <p class="record-info"><span>Origin:</span> {{ prospect.source }}</p>                    
                    </div>
                </div>                 
                
                <div class="row row-actions">                    
                    <ul class="record-actions">
                        <li>
                            <a href="#" class="delete custom-tooltip" data-id="{{ prospect.id }}" data-token="{{ csrf_token }}" title="Delete contact"  data-toggle="tooltip" data-placement="top"><i class="icon ion-ios-trash-outline"></i></a>
                        </li>
                        <li>
                            <a id="edit_prospect" class="custom-tooltip" href="#" data-id="{{ prospect.id }}" title="Modify contact" data-toggle="tooltip" data-placement="top">
                                <i class="icon ion-ios-compose-outline"></i>
                            </a>
                        </li>
                        <li>
                            <a class="custom-tooltip" href="{{ path('prospect_show', { 'id': prospect.id }) }}" title="Show all contact infos" data-toggle="tooltip" data-placement="top"><i class="icon ion-ios-eye-outline"></i></a>
                        </li>
                        <li><p>Contact</p></li>
                        <li class="separator"></li>
                        <li>
                            <a class="custom-tooltip" href="{{ path('relationship_edit', {'id': prospect.relationship.id}) }}" title="Edit relationship" data-toggle="tooltip" data-placement="top"><i class="icon ion-ios-compose-outline"></i></a>
                        </li>
                        <li>
                            <a class="custom-tooltip" href="{{ path('relationship_show', {'id': prospect.relationship.id}) }}" title="Show relationship" data-toggle="tooltip" data-placement="top"><i class="icon ion-ios-eye-outline"></i></a>
                        </li>
                        <li><p>Relationship</p></li>
                        <li class="separator"></li>
                        <li>
                            <a class="custom-tooltip" href="{{ path('gallery', {'prospect_id': prospect.id}) }}" title="Add and remove photos"  data-toggle="tooltip" data-placement="top"><i class="icon ion-images"></i></a>
                        </li>
                        <li><p>Gallery</p></li>
                    </ul>                    
                </div>               
            </div>
        {% endfor %}
        
        <div class="navigation pull-right">
            {{ knp_pagination_render(pagination) }}
        </div>
         
            
        {# Modales #}
        <div class="modal fade" id="modal_prospect_form" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">                    
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="icon ion-ios-close-empty"></i></span>
                        </button>
                        <h2 class="modal-title">New contact</h2>
                    </div>    
                    <div class="modal-body" id="modal_prospect_form_body">
                        {# Form returned by ajax #}
                    </div>                       
                </div>    
            </div>
        </div>

        {# POPUP OVERLAY D'ATTENTE AJAX #}
        <div class="overlay"></div>
        <div class="loader_standard">
            <p>Loading...</p>
            <img src="{{ asset('bundles/app/images/ajax-loader.gif') }}" />
        </div>
    </div> 

    {% block javascript %}
        {% javascripts 
            'bundles/app/js/prospect_index.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    
    <script type="text/javascript">
        $(document).ready(function(){
            var locale = "{{ app.request.locale }}";
            
            {#$("#container-prospect").on("mouseenter", ".prospect-record", function(){
                var rowActions = $(this).children().last();
               
                rowActions.parent().css('margin-bottom', '95px');
                rowActions.parent().animate(function(){
                    marginBottom: "95px"
                });
        
                rowActions.stop(true, true).animate({
                    bottom: "-50"                    
                },300, function(){
                    rowActions.css('z-index', 2);
                    
                    rowActions.parent().on("mouseleave", function(){                         
                        rowActions.css('z-index', -1);
                        rowActions.stop(true, true).animate({
                            bottom: "0"
                        },300, function(){
                            rowActions.parent().css('margin-bottom', '45px');
                        });
                    });
                });
            });#}
                 
            
            
            $('[data-toggle="tooltip"]').tooltip();
            
            // Form new prospect - parisDistrict
            $("#container-prospect").on("change", "input#appbundle_prospect_city", function(){
                var city = $(this).val().toLowerCase();

                if(city === 'paris'){
                    $('.row-paris-district').show('fast');
                }else{
                    $('.row-paris-district').hide('fast');
                }
            });
                        
            // Ajax: get form new
            $("#add_prospect").click(function(event){
                event.preventDefault();
                
                $(".overlay").show(200, function(){
                    $(".loader_standard").show();
                });                       
                
                var url = Routing.generate('ajax_new_prospect_form', {'_locale': locale});
                
                $.get(url, function(response){                   
                    $("#modal_prospect_form_body").html(response); // coller la vue dans une modale  
                    
                    $(".loader_standard").hide(200, function(){
                        $(".overlay").hide();   
                    });                                     
                    
                    $('#modal_prospect_form').modal('show');
                });
            });
            
            // Ajax: get form edit
            $(".record-actions").on("click", "#edit_prospect", function(event){
                event.preventDefault();
               
                $(".overlay").show(200, function(){
                    $(".loader_standard").show();
                });                
                
                var id = $(this).data("id");                
                var url = Routing.generate('ajax_edit_prospect_form', {'id':id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $("#modal_prospect_form_body").html(response);
                    $(".modal-header h2").empty().html("Edit contact"); // Change header to "edit"
                    
                    $(".loader_standard").hide(200, function(){
                        $(".overlay").hide();   
                    });                                     
                    
                    $('#modal_prospect_form').modal('show');
                });
            });
            
            
            
            
            
            
            
            $(".record-actions").on("click", ".delete", function(event){
                event.preventDefault();
                
                var prospect_id = $(this).data("id");
                var csrf_token = $(this).data("token");
                
                $.confirm({
                    animation: 'zoom',
                    animationBounce: 1,
                    confirm: function(){
                        ajaxDeleteProspect(prospect_id, csrf_token);
                    },
                    cancel: function(){
                        console.log('the user clicked cancel');
                    }
                });
            });
            
            /**
             * Deletes a prospect with ajax
             * 
             * @param {int} prospect_id
             * @param {string} csrf_token
             * @returns {undefined}
             */
            function ajaxDeleteProspect(prospect_id, csrf_token)
            {                
                var url = Routing.generate('ajax_delete_prospect', {'id': prospect_id, '_locale': locale});                
                var data = {'csrf_token': csrf_token};

                $.post(url, data, function(response){

                    var data = $.parseJSON(response);
                    var id = data.id;
                                       
                    $("#"+id).remove(); // Remove contact row
                });
            }
            
        });
    </script>
{% endblock %}
