{% extends '::base.html.twig' %}
{% import ":Frontend/Macros/Prospect:photoDisplay175.html.twig" as photoDisplayIndex %}
{% block title %}Contacts{% endblock %}

{#{% set csrfDelete = csrf_token('delete') %}#}

{% block content %}    
    <div class="container standard-container" id="container-prospect">      

        <div class="page-nav">
            <a class="btn-basic-ico" href="#" id="add_prospect" title ="{{ 'app.contact.list.add'|trans }}"><i class="icon ion-ios-plus-empty"></i><span>{{ 'app.contact.list.add'|trans }}</span></a>
            
            {{ form_start(filterForm, {'attr': {'class': 'pull-right form-inline'} }) }}
                <div>
                    {{ form_label(filterForm.status, 'app.contact.list.filter.status'|trans) }}
                    {{ form_widget(filterForm.status, {'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(filterForm.status) }}
                </div>
                <div>
                    {{ form_label(filterForm.sex, 'app.contact.list.filter.sex'|trans) }}
                    {{ form_widget(filterForm.sex, {'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(filterForm.sex) }}
                </div>
                <div>
                    {{ form_label(filterForm.relationshipLevel, 'app.contact.list.filter.relationship_type'|trans) }}
                    {{ form_widget(filterForm.relationshipLevel, {'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(filterForm.relationshipLevel) }}
                </div>
                {% set value = 'app.contact.list.filter.submit'|trans %}
                <input class="btn-basic" type="submit" value="{{ value }}">
            {{ form_end(filterForm) }}
            <div class="clearfix"></div>
        </div>
        
        <div class="row row-contacts">
            {% for prospect in pagination %}            
                <div class="col-md-4 col-prospect" id="{{ prospect.id }}"> 
{#                    <div class="firstrow">#}
                        <a class="link-contact-edit" href="{{ path('prospect_show', { 'id': prospect.id }) }}" title="Edit contact">
                            <div class="prospect-photo">                        
                                {% if prospect.relationship.status == 0 %}
                                    <div class="desaturate">{{ photoDisplayIndex.primaryPhoto(prospect.photos) }}</div>
                                    <p class="off">Off</p>
                                {% else %}
                                    {{ photoDisplayIndex.primaryPhoto(prospect.photos) }}
                                {% endif %}
                                <p class="prospect-age">{{ prospect.age }}</p>   
                                <div class="mask-photo"><div class="tilecontent">Edit contact</div></div>
                            </div><!--
                        --></a><!--
                     --><div class="ratings-redflags">
                            <div class="prospect-ratings">
                                <div class="tilecontent">
                                    <div class="rating-avg" title="Average rating for this contact" data-rating="{{ prospect.rating.average }}"></div>
                                </div>                                            
                            </div> 
                            <div id="prospect-redflags">                               
                                <div class="tilecontent">
                                    <div id="list-redflag-avg" title="Average redflags for this contact">
                                        <div id="redflags-empty">
                                            <i class="icon ion-flag"></i>
                                            <i class="icon ion-flag"></i>
                                            <i class="icon ion-flag"></i>
                                            <i class="icon ion-flag"></i>
                                            <i class="icon ion-flag"></i>
                                            <div id="redflags-full">
                                                {% if prospect.redflag.average %}
                                                    {% for n in 1..prospect.redflag.average %}                                                    
                                                        <i class="icon ion-flag"></i>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
   
{#                                <div class="redflag-percentage" data-avg="{{ prospect.redflag.percentAverage }}">
                                    <div class="tilecontent">
                                        <p><span>{{ prospect.redflag.percentAverage }}</span>%</p>
                                    </div>            
                                </div>#} 
                            </div>
                            <div class="clearfix"></div>
                        </div>                    
{#                    </div>                    #}
                    <div class="prospect-infos">
                        <p class="prospect-name">{{ prospect.firstname }} {{ prospect.lastname }}</p>
                        <p class="prospect-relationship-rank"><span>{{ prospect.relationship.relationshipRank|upper }}</span></p>
                    </div>
                    <div class="prospect-relationship">
                        <div class="preview relationship-met">
                            <div class="tilecontent">
                                {% if  prospect.relationship.meeting %}
                                    <i class="icon ion-wineglass" title="You met"></i>
                                {% else %}
                                    <i class="icon ion-ios-close-empty"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="preview relationship-kc">
                            <div class="tilecontent">
                                {% if  prospect.relationship.kc %}
{#                                    <i class="icon ion-fireball"></i>#}
                                    <img src="{{ asset('bundles/app/images/lips.png') }}" alt="lips" title="You kissed">
                                {% else %}
                                    <i class="icon ion-ios-close-empty"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="preview relationship-fc">
                            <div class="tilecontent">
                                {% if  prospect.relationship.fc %}
                                    <i class="icon ion-android-cancel" title="You had sex"></i>
                                {% else %}
                                    <i class="icon ion-ios-close-empty"></i>
                                {% endif %}
                            </div>
                        </div>                           
                        <div class="preview" id="relationship-crush">
                            <div class="tilecontent">
                                {% if  prospect.relationship.crush %}
                                    <i class="icon ion-ios-heart" title="You have a crush"></i>
                                {% else %}
                                    <i class="icon ion-ios-close-empty"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>  

                {#{% if loop.index % 3 == 0 %}
                    </div>
                    <div class="row row-contacts">
                {% endif %}#}
            {% endfor %}
        </div>  
        
        <div class="navigation pull-right">
            {{ knp_pagination_render(pagination) }}
        </div>
         
            
        {# Modales #}
        <div class="modal fade modal-full" id="modal_prospect_form" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-scroll">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="icon ion-ios-close-empty"></i></span>
                        </button>
                        <h2 class="modal-title"></h2>
                    </div>    
                    <div class="modal-body" id="modal_prospect_form_body">
                        {# Form returned by ajax #}
                    </div>                       
                </div>    
            </div>
        </div>

        {# POPUP OVERLAY D'ATTENTE AJAX #}
        <div class="overlay"></div>
        <div class="loader_standard">
            <p>Loading...</p>
        </div>
        
        <div class="hidden" id="locale" data-locale="{{ app.request.locale }}"></div>
    </div> 

    {% block javascript %}
        {% javascripts 
            'bundles/app/js/prospect_index.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    
    <script type="text/javascript">
        $(document).ready(function(){  
            var locale = $("#locale").data("locale");   
           
            $('[data-toggle="tooltip"]').tooltip({
                html: true
            });  
            
            $(".rating-avg").each(function(index, div) {
                
                avgRating = $(div).data("rating");                
                
                $(div).starRating({
                    initialRating: avgRating,
                    totalStars: 5,                
                    starSize: 26,
                    disableAfterRate: false,
                    useGradient: false,
                    emptyColor: '#ddd',
                    hoverColor: '#F47363',
                    useFullStars: true,
                    readOnly: true
                });                
            });
                   
            // Ajax: get form new prospect *************************************
            $("#add_prospect").click(function(event){
                event.preventDefault();                
     
                $(".loader_standard").show();
              
                var url = Routing.generate('ajax_new_prospect_form', {'_locale': locale});
                
                $.get(url, function(response){                   
                    $(".modal-body").html(response); // coller la vue dans une modale  
                    
                    $(".loader_standard").hide(200, function(){});                                     
                    
                    $(".modal-title").text("New contact");
                    $('.modal-full').modal('show');
                });
            });
            
            // Ajax: get form edit prospect
            $(".record-actions").on("click", ".edit_prospect", function(event){
                event.preventDefault();               
                
                $(".loader_standard").show();
            
                var id = $(this).data("id");                
                var url = Routing.generate('ajax_edit_prospect_form', {'id':id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $(".modal-body").html(response);                    
                    
                    $(".loader_standard").hide(200, function(){});                                     
                    
                    $(".modal-title").text("Edit contact");
                    $('.modal-full').modal('show');
                });
            });
            
            $('.modal-full').on('hidden.bs.modal', function (e) {
                $(".modal-body").empty();
                $(".modal-title").empty();
            });
            
            // Ajax: get form edit relationship ********************************
            {#$(".record-actions").on("click", ".edit-relationship", function(event){
                event.preventDefault();               
                
                $(".loader_standard").show();
            
                var id = $(this).data("id");                
                var url = Routing.generate('ajax_edit_relationship_form', {'id':id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $(".modal-body").html(response);                    
                    
                    $(".loader_standard").hide(200, function(){});                                     
                    
                    $(".modal-title").text("Edit relationship");
                    $('.modal-full').modal('show');
                });
            });#}
            
            $('.modal-full').on('hidden.bs.modal', function (e) {
                $(".modal-body").empty();
                $(".modal-title").empty();
            });
            
            // Delete confirm **************************************************
            {#$(".prospect-relationship").on("click", ".delete", function(event){
                event.preventDefault();

                var prospect_id = $(this).data("id");                

                $.confirm({
                    animation: 'zoom',
                    animationBounce: 1,
                    confirm: function(){
                        ajaxDeleteProspect(prospect_id);
                    },
                    cancel: function(){
                        console.log('the user clicked cancel');
                    }
                });
            });#}

            /**
             * Deletes a prospect with ajax
             * 
             * @param {int} prospect_id
             * @returns {undefined}
             */
            {#function ajaxDeleteProspect(prospect_id)
            {                
                var url = Routing.generate('ajax_delete_prospect', {'id': prospect_id, '_locale': locale});  
                var csrfDelete = "{{ csrfDelete }}";
                var data = {'csrfDelete': csrfDelete};

                $.post(url, data, function(response){

                    var data = $.parseJSON(response);
                    var id = data.id;

                    $("#"+id).remove(); // Remove contact row
                });
            }#}            
            
        });
    </script>
{% endblock %}
