{% extends '::base.html.twig' %}
{% import ":Frontend/Macros/Prospect:photoDisplay250px.html.twig" as photoDisplay %}

{% block title %}{{ prospect.firstname }}{% endblock %}
{% set csrfDelete = csrf_token('delete') %}

{% set editcontact = 'app.contact.show.edit-contact-modal.title'|trans %}
{% set editrelationship = 'app.contact.show.edit-relationship-modal.title'|trans %}
{% set editrating = 'app.contact.show.edit-rating-modal.title'|trans %}
{% set editredflag = 'app.contact.show.edit-redflag-modal.title'|trans %}

{% form_theme delete_form _self %}

{% block button_widget %}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain)|raw }}</button>    
{% endblock %}


{% block content %}    
    <div class="container standard-container">         
        <div id="contact-left-column">
            <a href="{{ path('gallery', {'prospect_id': prospect.id}) }}" title="Add and remove photos">
                <div id="photo-contact">
                    {{ photoDisplay.primaryPhoto(prospect.photos) }}
                    <div id="photo-mask"><div class="tilecontent">Gallery</div></div>
                </div>
            </a>
            
            {% if prospect.job %}
                <p class="job">
                    {{ prospect.job }}
                </p>
            {% endif %}
            {% if prospect.cellNumber %}
                <p class="job">
                    {{ prospect.cellNumber }}
                </p>
            {% endif %}
            {% if prospect.homeNumber %}
                <p class="job">
                    {{ prospect.homeNumber }}
                </p>
            {% endif %}
            <div class="row-age">
                <div id="age" class="tile">
                    <div class="tilecontent">
                        <p class="tile-value">{% if prospect.age %}<span>0</span>{% else %}?{% endif %}</p>
                        <p class="tile-title">Age</p>
                    </div>
                </div>
                <div id="source" class="tile">
                    <div class="tilecontent">
                       <p class="tile-value">
                           {% if prospect.source.id == 2 %}
                               {{ 'source.irl'|trans }}
                           {% else %}
                               {{ 'source.online'|trans }}
                           {% endif %}
                       </p>
                       <p class="tile-title">Source</p>
                    </div>
                </div>
            </div>
            <div class="row-astro">
                <div id="astro">
                    <div class="tilecontent">
                        {% if prospect.zodiac %}
                            <p class="zodiac" title="{{ prospect.zodiac.wording }}">
                                {{ prospect.zodiac.letter }}
                            </p>
                        {% else %}
                            <p class="tile-value">?</p>
                        {% endif %}
                        <p class="tile-title">Astro</p>
                    </div>
                </div>
                {% if prospect.relationship.status == 1 %}
                    <div id="status-ok" class="tile">
                        <div class="tilecontent">
                            <p class="tile-value">On</p>
                            <p class="tile-title">{{ 'app.contact.show.relationship.status.title'|trans|raw }}</p>
                        </div>
                    </div>
                {% else %}
                    <div id="status-off" class="tile">
                        <div class="tilecontent">
                            <p class="tile-value">Off</p>
                            <p class="tile-title">{{ 'app.contact.show.relationship.status.title'|trans|raw }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="row-delete">
                <div id="prospect-delete">
                    <div class="tilecontent">                        
                        <a href="#" data-id="{{ prospect.id }}" title="Delete prospect">
                            <i class="icon ion-ios-trash-outline"></i>
                        </a>
                        <p class="tile-title">{{ 'app.contact.show.delete.title'|trans|raw }}</p>                        
                    </div>
                </div>
            </div>
            <div class="row-neutral">
            </div>
        </div><!--
     --><div id="contact-right-column">
            <a id="edit_prospect" href="#" title="Edit contact">
                <div id="basic-infos-container">
                    <div id="basic-infos">
                        <p id="name">
                            {{ prospect.firstname }} {{ prospect.lastname }}
                            {% if prospect.country != null %}
                                {% set lang = prospect.country|upper %}
                                <img src="{{ asset('bundles/app/images/flags/' ~ lang ~ '.png') }}" />
                            {% endif %}
                        </p>
                        <p id="adress">
                            {{ prospect.address }} {{ prospect.zipcode }} {{ prospect.city|upper }}
                        </p>
                    </div>
                    <div id="mask-basic-infos"><div class="tilecontent">{{ 'app.contact.show.edit'|trans }}</div></div>
                </div>                
            </a>        
            <div class="row row-bigtiles">
                <a id="rating-link" data-id="{{ prospect.rating.id }}" href="#">
                    <div class="col-md-4 bigtile-rating border-right">
                        <div class="tilecontent">
                            <div class="rating-container">
                                <div class="bigtile-title">
                                    {{ 'app.contact.show.rating.title'|trans }} 
                                    <div id="rating-avg" title="Average rating<br>for this contact" data-rating="{{ prospect.rating.average }}"></div>
                                </div>
                                <div id="ratingcircle" data-percent="{{ prospect.rating.percentAverage }}" class="orange"></div>
                            </div>                            
                        </div>
                        <div class="mask-rating"><div class="tilecontent">{{ 'app.contact.show.rating.edit'|trans }}</div></div>
                    </div>
                </a>
                <a id="redflag-link" data-id="{{ prospect.redflag.id }}" href="#">
                    <div class="col-md-4 bigtile-redflag border-right">                    
                        <div class="tilecontent">
                            <div class="redflag-container">
                                <div class="bigtile-title">
                                    {{ 'app.contact.show.redflag.title'|trans }}
                                    <div id="redflag-avg" title="Average red flags<br>for this contact" data-redflag="{{ prospect.redflag.average }}"></div>
                                </div>
                                <div id="redflagcircle" data-percent="{{ prospect.redflag.percentAverage }}" class="orange"></div>
                            </div>
                        </div>
                        <div class="mask-redflag"><div class="tilecontent">{{ 'app.contact.show.redflag.edit'|trans|raw }}</div></div>                        
                    </div>
                </a>
                <div class="col-md-4 bigtile">
                    <div class="tilecontent">
                        <p class="bigtile-title"></p>
                    </div>
                </div>
            </div>                   
                    
            <div class="row row-bigtiles">
                <a class="edit-relationship" data-id="{{ prospect.relationship.id }}" href="#" title="Edit relationship">                    
                    <div class="col-md-4 bigtile-relationship">                        
                        <div class="tilecontent">
                            <div class="bigtile-relationship-container">
                                <p class="bigtile-value">{{ ('relationship_rank.' ~ prospect.relationship.relationshipRank)|trans }}</p>
                                <p class="bigtile-title">{{ 'app.contact.show.relationship.type.title'|trans }}</p>
                            </div>
                        </div>
                        <div class="mask-relationship"><div class="tilecontent">{{ 'app.contact.show.relationship.edit'|trans }}</div></div>
                    </div>
                </a>
                <div class="col-md-4 smalltile-container-middle">
                    <div class="row row-tiles">
                        <div class="col-md-6 smalltile" id="met">
                            <div class="tilecontent">
                                {% if  prospect.relationship.meeting %}
                                    <i class="icon ion-wineglass"></i>
                                {% else %}
                                    <i class="icon ion-ios-close-empty"></i>
                                {% endif %}
                                <p>{{ 'app.contact.show.relationship.met'|trans }}</p>
                            </div>
                        </div>
                        <div class="col-md-6 smalltile" id="kc">
                            <div class="tilecontent">
                                {% if  prospect.relationship.kc %}
                                    <img src="{{ asset('bundles/app/images/lips.png') }}" alt="lips">
                                {% else %}
                                    <i class="icon ion-ios-close-empty"></i>
                                {% endif %}
                                <p>{{ 'app.contact.show.relationship.kc'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row row-tiles">
                        <div class="col-md-6 smalltile" id="start-date">
                            <div class="tilecontent">
                                {% if  prospect.relationship.startDate %}
                                    <p id="start-date-val">{{ prospect.relationship.startDate|date('d-m-Y') }}</p>
                                {% else %}
                                    <p>?</p>
                                {% endif %}
                                <p><i class="icon ion-calendar"></i> {{ 'app.contact.show.relationship.startdate'|trans }}</p>
                            </div>
                        </div>
                        <div class="col-md-6 smalltile" id="distance">
                            <div class="tilecontent">
                                {% if  prospect.relationship.distance %}
                                    <i class="icon ion-sad-outline"></i>                                    
                                {% else %}
                                    <i class="icon ion-happy-outline"></i>
                                {% endif %}
                                <p>Distance</p>
                            </div>
                        </div>  
                    </div>
                </div>
                            
                <div class="col-md-4 smalltile-container-right">
                    <div class="row row-tiles">
                        <div class="col-md-6 smalltile" id="fc">
                            <div class="tilecontent">
                                {% if  prospect.relationship.fc %}
                                    <i class="icon ion-android-cancel"></i>
                                {% else %}
                                    <i class="icon ion-ios-close-empty"></i>
                                {% endif %}
                                <p>{{ 'app.contact.show.relationship.fc'|trans }}</p>
                            </div>
                        </div>
                        <div class="col-md-6 smalltile" id="crush">
                            <div class="tilecontent">
                                {% if  prospect.relationship.crush %}
                                    <i class="icon ion-ios-heart"></i>                                    
                                {% else %}
                                    <i class="icon ion-ios-close-empty"></i>
                                {% endif %}
                                <p>{{ 'app.contact.show.relationship.crush'|trans }}</p>
                            </div>
                        </div>
                    </div>            
                    <div class="row row-tiles">
                        <div class="col-md-6 smalltile" id="blank1">
                            <div class="tilecontent">                                
                            </div>
                        </div>
                        <div class="col-md-6 smalltile" id="blank2">
                            <div class="tilecontent">
                            </div>
                        </div>
                    </div>            
                </div>            
            </div>                       
                            
            <div class="row row-bigtiles">  
                <a id="manage-encounters" href="{{ path('encounter', {'prospect_id': prospect.id }) }}" title="Manage encounters">
                    <div class="col-md-4" id="bigtile-encounter">
                        <div class="tilecontent">
                            <div id="bigtile-encounter-container">
                                <p class="bigtile-value">{{ 'app.contact.show.encounter.title'|trans }}</p>
                                <p class="bigtile-title"></p>
                            </div>
                        </div>
                        <div id="mask-encounter"><div class="tilecontent">{{ 'app.contact.show.encounter.subtext'|trans|raw }}</div></div>
                    </div>
                </a>
                <div class="col-md-4 smalltile-container-middle">
                    <div class="row row-tiles">
                        <div class="col-md-6 smalltile" id="meetingcount">                            
                            <div class="tilecontent">
                                <p class="smalltile-subtext"><span>0</span></p>
                                <p>{{ 'app.contact.show.encounter.count'|trans|raw }}</p>
                            </div>
                        </div>                        
                        <div class="col-md-6  smalltile">
                            <div class="tilecontent">
                                
                            </div>
                        </div>
                    </div>
                    <div class="row row-tiles">
                        <div class="col-md-6 smalltile">
                            <div class="tilecontent">
                                
                            </div>
                        </div>
                        <div class="col-md-6 smalltile">
                            <div class="tilecontent">
                                                          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bigtile">
                    <p class="bigtile-title"></p>
                </div>
            </div>      
        </div>  
            
        {# Modales #}
        <div class="modal fade modal-full" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-scroll">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="icon ion-ios-close-empty"></i></span>
                        </button>
                        <h2 class="modal-title"></h2>
                    </div>    
                    <div class="modal-body">
                        {# Form returned by ajax #}
                    </div>                       
                </div>    
            </div>
        </div>                
                        
        {# POPUP OVERLAY D'ATTENTE AJAX #}
        <div class="loader_standard">
            <p>Loading...</p>
        </div>                
    </div>                            
    
    <script type="text/javascript">
        $(document).ready(function(){
            
            var editcontact = "{{ editcontact }}";
            var editrelationship = "{{ editrelationship }}";
            var editrating = "{{ editrating }}";
            var editredflag = "{{ editredflag }}";
            
            var age = "{{ prospect.age }}";
            $("#age span").animateNumber({ number: age }, 2000);
            
            if (typeof "{{ prospect.encounterCount }}" !== 'undefined') {
                var encounterCount = "{{ prospect.encounterCount }}";
                $("#meetingcount span").animateNumber({ number: encounterCount }, 2000);
            }
           
            $("#ratingcircle").percircle({});
            $("#redflagcircle").percircle({});
            
            var locale = "{{ app.request.locale }}";
            var id = "{{ prospect.id }}";
            
            $('[data-toggle="tooltip"]').tooltip({
                html: true
            });           
            
            // Ajax: get edit form prospect ************************************
            $("#contact-right-column").on("click", "#edit_prospect", function(event){
                event.preventDefault();
   
                $(".loader_standard").show();
                
                var url = Routing.generate('ajax_edit_prospect_form', {'id':id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $(".modal-body").html(response); // coller la vue dans une modale  
                    
                    $(".loader_standard").hide(200, function(){});                                     
                    
                    $(".modal-title").text(editcontact);
                    $('.modal-full').modal('show');
                });
            });
            
            // Ajax: get form edit relationship ********************************
            $(".row-bigtiles").on("click", ".edit-relationship", function(event){
                event.preventDefault();               
                
                $(".loader_standard").show();
            
                var id = $(this).data("id");                
                var url = Routing.generate('ajax_edit_relationship_form', {'id':id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $(".modal-body").html(response);                    
                    
                    $(".loader_standard").hide(200, function(){});                                     
                    
                    $(".modal-title").text(editrelationship);
                    $('.modal-full').modal('show');
                });
            });
            
            // Ajax: get form edit ratings *************************************
            $(".container").on("click", "#rating-link", function(event){
                event.preventDefault();               
                
                $(".loader_standard").show();
            
                var id = $(this).data("id");                
                var url = Routing.generate('ajax_edit_rating_form', {'id':id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $(".modal-body").html(response);                    
                    
                    $(".loader_standard").hide(200, function(){});                                     
                    
                    $(".modal-title").text(editrating);
                    $('.modal-full').modal('show');
                });
            });
            
            // Ajax: get form edit redflags *************************************
            $(".container").on("click", "#redflag-link", function(event){
                event.preventDefault();               
                
                $(".loader_standard").show();
            
                var id = $(this).data("id");                
                var url = Routing.generate('ajax_edit_redflag_form', {'id':id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $(".modal-body").html(response);                    
                    
                    $(".loader_standard").hide(200, function(){});                                     
                    
                    $(".modal-title").text(editredflag);
                    $('.modal-full').modal('show');
                });
            });
            
            
            $('.modal-full').on('hidden.bs.modal', function (e) {
                $(".modal-body").empty();
                $(".modal-title").empty();
            });
            
            $("#rating-avg").each(function(index, div) {
                
                avgRating = $(div).data("rating");                
                
                $(div).starRating({
                    initialRating: avgRating,
                    totalStars: 5,                
                    starSize: 15,
                    disableAfterRate: false,
                    useGradient: false,
                    emptyColor: '#ddd',
                    hoverColor: '#F47363',
                    useFullStars: true,
                    readOnly: true
                });                
            });
            $("#redflag-avg").each(function(index, div) {
                
                avgRedflag = $(div).data("redflag");                
                
                $(div).starRating({
                    initialRating: avgRedflag,
                    totalStars: 5,                
                    starSize: 15,
                    disableAfterRate: false,
                    useGradient: false,
                    emptyColor: '#ddd',
                    hoverColor: '#F47363',
                    useFullStars: true,
                    readOnly: true
                });                
            });
            
            // Delete confirm **************************************************
            $("#prospect-delete").on("click", "a", function(event){
                event.preventDefault();

                var prospect_id = $(this).data("id");                

                $.confirm({
                    animation: 'zoom',
                    animationBounce: 1,
                    confirm: function(){
                        ajaxDeleteProspect(prospect_id);
                    },
                    cancel: function(){
                        console.log('the user clicked cancel');
                    }
                });
            });

            /**
             * Deletes a prospect with ajax
             * 
             * @param {int} prospect_id
             * @returns {undefined}
             */
            function ajaxDeleteProspect(prospect_id)
            {                
                var url = Routing.generate('ajax_delete_prospect', {'id': prospect_id, '_locale': locale});  
                var csrfDelete = "{{ csrfDelete }}";
                var data = {'csrfDelete': csrfDelete};

                $.post(url, data, function(response){

                    var data = $.parseJSON(response);
                    var id = data.id;
                    var success_msg = data.success;                    
                    
                    $("#confirm-panel").addClass(".confirm-success");
                    confirmPanel('<p>' + success_msg+ '</p>');
                });
            }
            
            function confirmPanel(msg)
            {
                $("#confirm-panel").html(msg);
                $("#confirm-panel").animate({
                    "top": "0"
                }, 200, "linear", function(){
                    $(this).delay(3000).animate({
                        "top": "-75"
                    }, 200, "linear", function(){
                        $(this).empty();
                        $("#confirm-panel").removeClass();
                        
                        var url = Routing.generate('prospect_list', {'_locale': locale});

                        window.location.replace(url);
                    });
                });                
            }
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        'bundles/app/packages/percircle/js/percircle.js'
        'bundles/app/js/jquery.animateNumber.min.js'
    %}        
    <script src="{{ asset_url }}"></script>
    {% endjavascripts%}
{% endblock %}