{% extends '::base.html.twig' %}
{% import ":Frontend/Macros:photoDisplay.html.twig" as photoDisplay %}

{% block title %}{{ prospect.firstname }}{% endblock %}

{% block content %}
    <div class="container">
        <h3>Fiche contact</h3>

        <div class="panel panel-default">
            <div class="panel-heading">{{ prospect.firstname }}</div>
            <div class="panel-body">           

                {{ photoDisplay.primaryPhotoOrLast(prospect.photos) }}                                

                <table class="record_properties">
                    <tbody>                    
                        <tr>
                            <th>Nickname</th>
                            <td>{{ prospect.nickname }}</td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td>{{ prospect.firstname }}</td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td>{{ prospect.lastname }}</td>
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td>{{ prospect.age }}</td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>{{ prospect.city }}</td>
                        </tr>
                        <tr>
                            <th>Paris district</th>
                            <td>{{ prospect.parisDistrict }}</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>{{ prospect.country }}</td>
                        </tr>
                        <tr>
                            <th>Cell Number</th>
                            <td>{{ prospect.cellNumber }}</td>
                        </tr>
                        <tr>
                            <th>Source</th>
                            <td>{{ prospect.source }}</td>
                        </tr>
                        <tr>
                            <th>Creation date</th>
                            <td>{{ prospect.creationDate|date('d-m-Y') }}</td>
                        </tr>
                    </tbody>
                </table>  

                <a class="btn btn-default" href="{{ path('prospect_edit', { 'id': prospect.id }) }}">Edit</a><br/>
                {{ form_start(delete_form) }}
                        <input class="btn btn-default" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
            <div class="panel-footer">
                {% if prospect.relationship %}
                    <a href="{{ path('relationship_show', { 'id': prospect.relationship.id }) }}" title="Détails">Détails de la relationship</a><br/>
                {% endif %}
                <a href="{{ path('encounter_new', { 'prospect_id': prospect.id }) }}" title="New encounter">Add encounter</a>
            </div>
        </div>   
    </div>
{% endblock %}
