{% extends '::base.html.twig' %}
{% import ":Frontend/Macros/Prospect:photoDisplay250px.html.twig" as photoDisplay %}

{% block title %}{{ prospect.firstname }}{% endblock %}

{% form_theme delete_form _self %}

{% block button_widget %}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain)|raw }}</button>    
{% endblock %}


{% block content %}
    <div class="container">        
        <section class="page-title">
            <h1>Detailed view for {{ prospect.firstname }}</h1> 
{#                <h2>Blablabla</h2>#}
        </section>
        <div class="page-title-underline"></div>            
        
        <div class="page-nav">            
            <a class="btn-basic" href="{{ path('prospect_list') }}" title="Back to contacts">Back to contacts</a>
        </div>        
        
        <div class="row" id="prospect-show-content">                
            <div class="col-md-3 show-left-col">
                {{ photoDisplay.primaryPhotoOrLast(prospect.photos) }}                                
            </div>                
            <div class="col-md-9 show-right-col">
                <div id="prospect-info-basic">
                    <p id="firstname">{{ prospect.firstname }} {{ prospect.lastname }}</p>                    
                    {% if prospect.age %}
                        <p id="age">{{ prospect.age }} years old</p>
                    {% endif %}
                </div>
                <table class="table table-responsive" id="table-prospect-show">
                    <tbody>                    
                        <tr>
                            <th>Nickname</th>
                            <td>{{ prospect.nickname }}</td>
                        </tr>                        
                        <tr>
                            <th>Address</th>
                            <td>{{ prospect.address }}</td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>{{ prospect.city }}</td>
                        </tr>
                        {% if prospect.parisDistrict %}
                            <tr>
                                <th>Paris district</th>
                                <td>{{ prospect.parisDistrict }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Country</th>
                            <td>{{ prospect.country }}</td>
                        </tr>
                        <tr>
                            <th>Cell Number</th>
                            <td>{{ prospect.cellNumber }}</td>
                        </tr>
                        <tr>
                            <th>Home Number</th>
                            <td>{{ prospect.homeNumber }}</td>
                        </tr>
                        <tr>
                            <th>Job</th>
                            <td>{{ prospect.job }}</td>
                        </tr>
                        <tr>
                            <th>Source</th>
                            <td>{{ prospect.source }}</td>
                        </tr>
                        <tr>
                            <th>Creation date</th>
                            <td>{{ prospect.creationDate|date('d-m-Y') }}</td>
                        </tr>
                    </tbody>
                </table>                             
            </div> 
            
        </div>
        <div class="show-actions">
            <ul>
                <li class="icon-title">
                    <p>Relationship</p>
                </li>                       
                <li>
                    {% if prospect.relationship %}
                        <a class="" href="{{ path('relationship_show', { 'id': prospect.relationship.id }) }}" title="Show relationship">
                            <i class="icon ion-ios-eye-outline"></i>
                        </a>
                    {% endif %}
                </li>
                <li class="icon-separator"></li>
                <li class="icon-title">
                    <p>Encounters</p>
                </li>
                <li class="icon-add">
                    {# AJAX TO DO !! #}
                    <a id="new-encounter" href="#" title="Add new encounter"><i class="icon ion-ios-plus-empty"></i></a>
                </li>
                <li class="icon-separator"></li>  
                <li class="icon-title">
                    <p>Contact</p>
                </li>
                <li>
                    <a id="edit_prospect" href="#" title="Edit contact"><i class="icon ion-ios-compose-outline"></i></a>                
                </li>
{#                <li>
                    {{ form_start(delete_form, {'attr': {'id':'form-delete-prospect', 'title':'Delete contact'}}) }}                       
                        {{ form_widget(delete_form.submit, {'label': '<i class="icon ion-ios-trash-outline"></i>'}) }}
                    {{ form_end(delete_form) }}
                </li>#}
            </ul>
        </div>
            
        {# Modales #}
        <div class="modal fade modal-full" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">                    
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="icon ion-ios-close-empty"></i></span>
                        </button>
                        <h2 class="modal-title"></h2>
                    </div>    
                    <div class="modal-body" id="modal_prospect_form_body">
                        {# Form returned by ajax #}
                    </div>                       
                </div>    
            </div>
        </div>                
                        
        {# POPUP OVERLAY D'ATTENTE AJAX #}
        <div class="overlay"></div>
        <div class="loader_standard">
            <p>Loading...</p>
        </div>                
    </div>                            
    
    <script type="text/javascript">
        $(document).ready(function(){
            var locale = "{{ app.request.locale }}";
            var id = "{{ prospect.id }}";
            
            // Ajax: get edit form prospect
            $(".show-actions").on("click", "#edit_prospect", function(event){
                event.preventDefault();
               
                $(".overlay").show(200, function(){
                    $(".loader_standard").show();
                });                 
                
                var url = Routing.generate('ajax_edit_prospect_form', {'id':id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $("#modal_prospect_form_body").html(response); // coller la vue dans une modale  
                    
                    $(".loader_standard").hide(200, function(){
                        $(".overlay").hide();   
                    });                                     
                    
                    $(".modal-title").text("Edit contact");
                    $('.modal-full').modal('show');
                });
            });
            
            // Ajax: get form new encounter
            $(".show-actions").on("click", "#new-encounter", function(event){
                event.preventDefault();
                
                $(".overlay").show(200, function(){
                    $(".loader_standard").show();
                });                       

                var url = Routing.generate('ajax_new_encounter_form', {'prospect_id': id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $(".modal-body").html(response); // coller la vue dans une modale  
                    
                    $(".loader_standard").hide(200, function(){
                        $(".overlay").hide();   
                    });                                     
                    
                    $(".modal-title").text("New encounter");
                    $('.modal-full').modal('show');
                });
            }); 
            
            
            $('.modal-full').on('hidden.bs.modal', function (e) {
                $(".modal-body").empty();
                $(".modal-title").empty();
            });
        });
    </script>
{% endblock %}
