{% extends '::base.html.twig' %}
{% import ":Frontend/Macros/Prospect:photoDisplay250px.html.twig" as photoDisplay %}

{% block title %}{{ prospect.firstname }}{% endblock %}

{% form_theme delete_form _self %}

{% block button_widget %}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain)|raw }}</button>    
{% endblock %}



{% block content %}
    <div class="container">
        {#<section class="page-title">
            <h1>{{ prospect.firstname }} {{ prospect.lastname }}</h1>
        </section>
        <div class="page-title-underline"></div> #}
        
        <div class="row" id="prospect-show-content">                
            <div class="col-md-3 show-left-col">
                {{ photoDisplay.primaryPhotoOrLast(prospect.photos) }}                                
            </div>                
            <div class="col-md-9 show-right-col">
                <div id="prospect-info-basic">
                    <p id="firstname">{{ prospect.firstname }} {{ prospect.lastname }}</p>                    
                    {% if prospect.age %}
                        <p id="age">{{ prospect.age }} years old</p>
                    {% endif %}
                </div>
                <table class="table table-responsive" id="table-prospect-show">
                    <tbody>                    
                        <tr>
                            <th>Nickname</th>
                            <td>{{ prospect.nickname }}</td>
                        </tr>                        
                        <tr>
                            <th>Address</th>
                            <td>{{ prospect.address }}</td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>{{ prospect.city }}</td>
                        </tr>
                        {% if prospect.parisDistrict %}
                            <tr>
                                <th>Paris district</th>
                                <td>{{ prospect.parisDistrict }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Country</th>
                            <td>{{ prospect.country }}</td>
                        </tr>
                        <tr>
                            <th>Cell Number</th>
                            <td>{{ prospect.cellNumber }}</td>
                        </tr>
                        <tr>
                            <th>Source</th>
                            <td>{{ prospect.source }}</td>
                        </tr>
                        <tr>
                            <th>Creation date</th>
                            <td>{{ prospect.creationDate|date('d-m-Y') }}</td>
                        </tr>
                    </tbody>
                </table>  
                
                <div class="show-actions">
                    <ul>
                        <li class="icon-title">
                            <p>Relationship</p>
                        </li>                       
                        <li>
                            {% if prospect.relationship %}
                                <a class="" href="{{ path('relationship_show', { 'id': prospect.relationship.id }) }}" title="Show relationship">
                                    <i class="icon ion-ios-eye-outline"></i>
                                </a>
                            {% endif %}
                        </li>
                        <li class="icon-separator"></li>
                        <li class="icon-title">
                            <p>Encounters</p>
                        </li>
                        <li class="icon-add">
                            <a class="" href="{{ path('encounter_new', { 'prospect_id': prospect.id }) }}" title="Add new encounter"><i class="icon ion-ios-plus-empty"></i></a>
                        </li>
                        <li class="icon-separator"></li>
                        {#<li class="icon-title">
                            <p>Edit / Delete</p>
                        </li>#}
                        <li>
                            <a class="" href="{{ path('prospect_list') }}" title="Back to contacts"><i class="icon ion-ios-list-outline"></i></a>
                        </li> 
                        <li>
{#                            <a href="{{ path('prospect_edit', { 'id': prospect.id }) }}" title="Edit contact"><i class="icon ion-compose"></i></a>            #}
                            <a id="edit_prospect" href="#" title="Edit contact"><i class="icon ion-compose"></i></a>                
                        </li>
                        <li>
                            {{ form_start(delete_form, {'attr': {'id':'form-delete-prospect', 'title':'Delete contact'}}) }}                       
                                {{ form_widget(delete_form.submit, {'label': '<i class="icon ion-ios-trash-outline"></i>'}) }}
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>
                </div>            
            </div>            
        </div>
            
        {# Modales #}
        <div class="modal fade" id="modal_prospect_form" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">                    
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="icon ion-ios-close-empty"></i></span>
                        </button>
                        <h2 class="modal-title">Edit contact</h2>
                    </div>    
                    <div class="modal-body" id="modal_prospect_form_body">
                        {# Form returned by ajax #}
                    </div>                       
                </div>    
            </div>
        </div>                
                        
        {# POPUP OVERLAY D'ATTENTE AJAX #}
        <div class="overlay"></div>
        <div class="loader_standard">
            <p>Loading...</p>
            <img src="{{ asset('bundles/app/images/ajax-loader.gif') }}" />
        </div>                
    </div>                            
    
    <script type="text/javascript">
        $(document).ready(function(){
            var locale = "{{ app.request.locale }}";
            
            // Ajax: get edit form 
            $(".show-actions").on("click", "#edit_prospect", function(event){
                event.preventDefault();
               
                $(".overlay").show(200, function(){
                    $(".loader_standard").show();
                });                
                
                var id = "{{ prospect.id }}";
                var url = Routing.generate('ajax_edit_prospect_form', {'id':id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $("#modal_prospect_form_body").html(response); // coller la vue dans une modale  
                    
                    $(".loader_standard").hide(200, function(){
                        $(".overlay").hide();   
                    });                                     
                    
                    $('#modal_prospect_form').modal('show');
                });
            });
        });
    </script>
{% endblock %}
