{% extends '::base.html.twig' %}
{% import ":Frontend/Macros/Prospect:photoDisplay250px.html.twig" as photoDisplay %}

{% block title %}{{ prospect.firstname }}{% endblock %}

{% form_theme delete_form _self %}

{% block button_widget %}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain)|raw }}</button>    
{% endblock %}


{% block content %}    
    <div class="container">        
        <section class="page-title">
            <h1>Detailed view for {{ prospect.firstname }}</h1> 
{#                <h2>Blablabla</h2>#}
        </section>
        <div class="page-title-underline"></div>            
        
        <div class="page-nav">            
            <a class="btn-basic" href="{{ path('prospect_list') }}" title="Back to contacts">Back to contacts</a>
        </div>        
        
        <div class="row" id="prospect-show-content">                
            <div class="col-md-3 show-left-col">
                <div>
                    {{ photoDisplay.primaryPhoto(prospect.photos) }}
                    <ul>                    
                        <li> 
                            <a id="edit_prospect" href="#" title="Edit contact">Edit contact infos</a>                
                        </li>
                    </ul>
                    <div class="prospect-show-phone">
                        {% if prospect.cellNumber %}
                            <p class="phone-info"><i class="icon ion-iphone"></i><span>{{ prospect.cellNumber }}</span></p>
                        {% endif %}
                        {% if prospect.homeNumber %}
                            <p class="phone-info"><i class="icon ion-iphone"></i><span>{{ prospect.homeNumber }}</span></p>  
                        {% endif %}
                    </div>                  
                </div>                
            </div>                
            <div class="col-md-9 show-right-col">
                <div id="prospect-info-basic">
                    <div>
                        {% if prospect.country != null %}
                            {% set lang = prospect.country|upper %}
                            <img src="{{ asset('bundles/app/images/flags/' ~ lang ~ '.png') }}" />
                        {% endif %}
                        <div id="name-age">{{ prospect.firstname }} {{ prospect.lastname }}                   
                            {% if prospect.age %}
                                , {{ prospect.age }}
                            {% endif %}
                            {% if prospect.nickname %}
                                ({{ prospect.nickname }})
                            {% endif %}
                        </div>
                        <a id="list-rating-link" data-id="{{ prospect.rating.id }}" href="#"><div class="rating-avg pull-right custom-tooltip" data-toggle="tooltip" data-placement="top" title="Average rating<br>for this contact" data-rating="{{ prospect.rating.average }}"></div></a> 
                    </div>                     
                </div>
                <p class="full-address">                      
                    <span>Full address:</span> {{ prospect.address }} {{ prospect.zipcode }} {{ prospect.city|capitalize }}
                </p>
                <div class="icons">
                    {% if prospect.zodiac %}
                        <div class="zodiac custom-tooltip" title="{{ prospect.zodiac.wording }}" data-toggle="tooltip" data-placement="top">
                            {{ prospect.zodiac.letter }}
                        </div>
                    {% else %}
                        <div class="icon-empty custom-tooltip" title="No zodiacal sign selected" data-toggle="tooltip" data-placement="top">
                            <i class="icon ion-ios-help-empty"></i>
                        </div>
                    {% endif %}
                    {% if prospect.relationship.fc %}
                        <div class="icon-X custom-tooltip" title="Sex happened" data-toggle="tooltip" data-placement="top"></div>
                    {% else %}
                        <div class="icon-empty custom-tooltip" title="No sex" data-toggle="tooltip" data-placement="top">
                            <i class="icon ion-ios-help-empty"></i>
                        </div>
                    {% endif %}
                </div>
                <table class="table table-responsive" id="table-prospect-show">
                    <tbody>             
                        <tr>
                            <th>Job</th>
                            <td>{{ prospect.job }}</td>
                        </tr>
                        <tr>
                            <th>Source</th>
                            <td>{{ prospect.source }}</td>
                        </tr>                        
                    </tbody>
                </table>                             
            </div> 
            
        </div>
        <div class="show-actions">
            <ul>                  
                <li class="icon-title"><p>Gallery</p></li>
                <li>
                    <a href="{{ path('gallery', {'prospect_id': prospect.id}) }}" title="Add and remove photos"><i class="icon ion-ios-albums-outline"></i></a>
                </li>
                <li class="icon-separator"></li>
                <li class="icon-title"><p>Ratings</p></li>
                <li>
                    <a class="edit-rating" href="#" data-id="{{ prospect.rating.id }}" title="Rate this contact"><i class="icon ion-ios-star-outline"></i></a>
                </li>
                <li class="icon-separator"></li>
                <li class="icon-title"><p>Relationship</p></li>                       
{#                <li>
                    <a href="{{ path('relationship_show', { 'id': prospect.relationship.id }) }}" title="Show relationship"><i class="icon ion-ios-eye-outline"></i></a>
                </li>#}
                <li>
                    <a class="edit-relationship custom-tooltip" data-id="{{ prospect.relationship.id }}" href="#" title="Edit relationship" data-toggle="tooltip" data-placement="top"><i class="icon ion-ios-compose-outline"></i></a>                       
                </li>
                <li class="icon-separator"></li>
                <li class="icon-title"><p>Encounters</p></li>
                <li class="icon-add">
                    <a id="new-encounter" href="#" title="Add new encounter"><i class="icon ion-ios-plus-empty"></i></a>                    
                </li>
                <li class="icon-add">                    
                    <a id="encounters-list" href="{{ path('encounter', {'prospect_id': prospect.id}) }}" title="Encounters"><i class="icon ion-ios-list-outline"></i></a>
                </li>
{#                <li class="icon-separator"></li>  #}
                {#<li class="icon-title"><p>Contact</p></li>
                <li>
                    <a id="edit_prospect" href="#" title="Edit contact"><i class="icon ion-ios-compose-outline"></i></a>                
                </li>#}                
{#                <li>
                    {{ form_start(delete_form, {'attr': {'id':'form-delete-prospect', 'title':'Delete contact'}}) }}                       
                        {{ form_widget(delete_form.submit, {'label': '<i class="icon ion-ios-trash-outline"></i>'}) }}
                    {{ form_end(delete_form) }}
                </li>#}
            </ul>
        </div>
            
        {# Modales #}
        <div class="modal fade modal-full" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-scroll">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="icon ion-ios-close-empty"></i></span>
                        </button>
                        <h2 class="modal-title"></h2>
                    </div>    
                    <div class="modal-body">
                        {# Form returned by ajax #}
                    </div>                       
                </div>    
            </div>
        </div>                
                        
        {# POPUP OVERLAY D'ATTENTE AJAX #}
        <div class="loader_standard">
            <p>Loading...</p>
        </div>                
    </div>                            
    
    <script type="text/javascript">
        $(document).ready(function(){
            var locale = "{{ app.request.locale }}";
            var id = "{{ prospect.id }}";
            
            $('[data-toggle="tooltip"]').tooltip({
                html: true
            });
            
            // Ajax: get edit form prospect ************************************
            $(".show-left-col").on("click", "#edit_prospect", function(event){
                event.preventDefault();
   
                $(".loader_standard").show();
                
                var url = Routing.generate('ajax_edit_prospect_form', {'id':id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $(".modal-body").html(response); // coller la vue dans une modale  
                    
                    $(".loader_standard").hide(200, function(){});                                     
                    
                    $(".modal-title").text("Edit contact");
                    $('.modal-full').modal('show');
                });
            });
            
            // Ajax: get form new encounter ************************************
            $(".show-actions").on("click", "#new-encounter", function(event){
                event.preventDefault();                

                $(".loader_standard").show();

                var url = Routing.generate('ajax_new_encounter_form', {'prospect_id': id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $(".modal-body").html(response); // coller la vue dans une modale  
                    
                    $(".loader_standard").hide(200, function(){});                                     
                    
                    $(".modal-title").text("New encounter");
                    $('.modal-full').modal('show');
                });
            });
            
            // Ajax: get form edit relationship ********************************
            $(".show-actions").on("click", ".edit-relationship", function(event){
                event.preventDefault();               
                
                $(".loader_standard").show();
            
                var id = $(this).data("id");                
                var url = Routing.generate('ajax_edit_relationship_form', {'id':id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $(".modal-body").html(response);                    
                    
                    $(".loader_standard").hide(200, function(){});                                     
                    
                    $(".modal-title").text("Edit relationship");
                    $('.modal-full').modal('show');
                });
            });
            
            // Ajax: get form edit ratings *************************************
            $(".container").on("click", ".edit-rating, #list-rating-link", function(event){
                event.preventDefault();               
                
                $(".loader_standard").show();
            
                var id = $(this).data("id");                
                var url = Routing.generate('ajax_edit_rating_form', {'id':id, '_locale': locale});
                
                $.get(url, function(response){                   
                    $(".modal-body").html(response);                    
                    
                    $(".loader_standard").hide(200, function(){});                                     
                    
                    $(".modal-title").text("Edit ratings");
                    $('.modal-full').modal('show');
                });
            });
            
            
            $('.modal-full').on('hidden.bs.modal', function (e) {
                $(".modal-body").empty();
                $(".modal-title").empty();
            });
            
            $(".rating-avg").each(function(index, div) {
                
                avgRating = $(div).data("rating");                
                
                $(div).starRating({
                    initialRating: avgRating,
                    totalStars: 5,                
                    starSize: 30,
                    disableAfterRate: false,
                    useGradient: false,
                    emptyColor: '#ddd',
                    hoverColor: '#F47363',
                    useFullStars: true,
                    readOnly: true
                });                
            });
        });
    </script>
{% endblock %}
