{% extends '::base.html.twig' %}
{% import "AppBundle:Frontend/Macros:photoDisplay.html.twig" as photoDisplay %}

{% block title %}{{ prospect.prenom }}{% endblock %}

{% block body -%}
    <div class="container">
        <h3>Fiche contact</h3>

        <div class="panel panel-default">
            <div class="panel-heading">{{ prospect.prenom }}</div>
            <div class="panel-body">           

                {{ photoDisplay.primaryPhotoOrLast(prospect.photos) }}                                

                <table class="record_properties">
                    <tbody>                    
                        <tr>
                            <th>Pseudo</th>
                            <td>{{ prospect.pseudo }}</td>
                        </tr>
                        <tr>
                            <th>Prénom</th>
                            <td>{{ prospect.prenom }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ prospect.nom }}</td>
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td>{{ prospect.age }}</td>
                        </tr>
                        <tr>
                            <th>Ville</th>
                            <td>{{ prospect.ville }}</td>
                        </tr>
                        <tr>
                            <th>Arrondissement</th>
                            <td>{{ prospect.arrondissement }}</td>
                        </tr>
                        <tr>
                            <th>Pays</th>
                            <td>{{ prospect.pays }}</td>
                        </tr>
                        <tr>
                            <th>Numéro</th>
                            <td>{{ prospect.numero }}</td>
                        </tr>
                        <tr>
                            <th>Numéro étranger</th>
                            <td>{{ prospect.numeroEtranger }}</td>
                        </tr>
                        <tr>
                            <th>Source</th>
                            <td>{{ prospect.source }}</td>
                        </tr>
                        <tr>
                            <th>Date de création</th>
                            <td>{{ prospect.dateCreation|date('d-m-Y') }}</td>
                        </tr>
                    </tbody>
                </table>  

                <a class="btn btn-default" href="{{ path('prospect_edit', { 'id': prospect.id }) }}">Edit</a><br/>
                {{ form_start(delete_form) }}
                        <input class="btn btn-default" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
            <div class="panel-footer">
                {% if prospect.relationship %}
                    <a href="{{ path('relationship_show', { 'id': prospect.relationship.id }) }}" title="Détails">Détails de la relationship</a><br/>
                {% endif %}
                <a href="{{ path('rencontre_new', { 'prospect_id': prospect.id }) }}" title="Nouvelle rencontre">Ajouter une rencontre</a>
            </div>
        </div>   
    </div>
{% endblock %}
