{% extends '::base.html.twig' %}
{% block title %}Liste des contacts{% endblock %}

{% block body -%}
    <h1>Liste des contacts</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Ville</th>
                <th>Arrondissement</th>
                <th>Pays</th>
                <th>Numéro</th>
                <th>Numéro étranger</th>
                <th>Site</th>
                <th>Photo Principale</th>
                <th>Actions</th> 
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('prospects_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.pseudo }}</td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.age }}</td>
                <td>{{ entity.ville }}</td>
                <td>{{ entity.arrondissement }}</td>
                <td>{{ entity.pays }}</td>
                <td>{{ entity.numero }}</td>
                <td>{{ entity.numeroEtranger }}</td>
                <td>{{ entity.site }}</td>
                <td class="photoPrincipale">
                    {% if entity.photoPrincipale %}
                        <img class="img-responsive" src="{{ asset(entity.getPhotoPrincipaleWeb) }}" alt="{{ asset(entity.getPhotoPrincipaleWeb) }}" />
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-default btn-xs" href="{{ path('prospects_show', { 'id': entity.id }) }}">show</a>                       
                    <a class="btn btn-default btn-xs" href="{{ path('prospects_edit', { 'id': entity.id }) }}">edit</a>  
                    
                    {% if entity.relations %}
                        <a class="btn btn-default btn-xs" href="{{ path('relations_show', { 'id': entity.relations.id }) }}">relation details</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-default" href="{{ path('prospects_new') }}">
        Ajouter un contact
    </a>
        
    {% endblock %}
