{% extends '::base.html.twig' %}
{% block title %}Contact : {{ entity.pseudo }}{% endblock %}

{% block body -%}
    <h1>{{ entity.pseudo }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ entity.pseudo }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ entity.age }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ entity.ville }}</td>
            </tr>
            <tr>
                <th>Arrondissement</th>
                <td>{{ entity.arrondissement }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ entity.pays }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Numeroetranger</th>
                <td>{{ entity.numeroEtranger }}</td>
            </tr>
            <tr>
                <th>Site</th>
                <td>{{ entity.site }}</td>
            </tr>
            <tr>
                <th>Photoprincipale</th>
                <td>
                    {% if entity.photoPrincipale %}
                        <img class="img-responsive" src="{{ asset(entity.getPhotoPrincipaleWeb) }}" alt="{{ entity.photoPrincipale }}"/>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('prospects') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('prospects_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
