{% import ":Frontend/Macros/Prospect:photoDisplay250px.html.twig" as photoDisplay %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ photoDisplay.primaryPhoto(redflag.prospect.photos) }}
            </div>
            
            <div class="col-md-9 page-content">
                {{ form_start(edit_form, {'method': 'PUT'} ) }}
                    <div>
                        {{ form_label(edit_form.attractiveness, 'app.rating.edit.label.unemployed'|trans) }}     
                        <div class="redflag"></div>               
                        <div class="hidden">{{ form_widget(edit_form.unemployed) }}</div>
                        {{ form_errors(edit_form.attractiveness) }}
                    </div>
                    <div>
                        {{ form_label(edit_form.socialStatus, 'app.rating.edit.label.needy'|trans) }} 
                        <div class="redflag"></div>
                        <div class="hidden">{{ form_widget(edit_form.needy) }}</div>
                        {{ form_errors(edit_form.socialStatus) }}
                    </div>
                    

                    <div class="hidden">
                        {{ form_rest(edit_form) }}
                    </div>
                    
                    <input class="btn-basic-rose" type="submit" value="{{ 'app.rating.btn-save'|trans }}" />
                    
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}
