{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Relations list</h1>

    <table class="records_list table">
        <thead>
            <tr>
{#                <th>Id</th>#}
{#                <th>Pseudo</th>#}
                <th>Statut</th>
                <th>Rencontre</th>
                <th>Date de création</th>
                <th>Rencontres</th>
                <th>Numéro</th>
                <th>KC</th>
                <th>FC</th>
                <th>Type</th>
                <th>Distance</th>
                <th>Flake</th>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
{#                <td><a href="{{ path('relations_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
{#                <td>{% if entity.prospects %}{{ entity.prospects.pseudo }}{% endif %}</td>#}
                <td>{% if entity.statut %}On{% endif %}</td>
                <td>{% if entity.rencontre %}Oui{% else %}Non{% endif %}</td>
                <td>{% if entity.rencontreDate %}{{ entity.rencontreDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.rencontreCount %}{{ entity.rencontreCount }}{% else %}0{% endif %}</td>
                <td>{% if entity.numero == 1 %}Oui{% else %}Non{% endif %}</td>
                <td>{% if entity.kc == 1 %}Oui{% else %}Non{% endif %}</td>
                <td>{% if entity.fc == 1 %}Oui{% else %}Non{% endif %}</td>
                <td>{{ entity.relType }}</td>
                <td>{% if entity.distance == 1 %}Oui{% else %}Non{% endif %}</td>
                <td>{% if entity.flake == 1 %}Oui{% else %}Non{% endif %}</td>
                <td>{{ entity.commentaire }}</td>
                <td>                
                    <a href="{{ path('relations_show', { 'id': entity.id }) }}">show</a>                    
                    <a href="{{ path('relations_edit', { 'id': entity.id }) }}">edit</a>                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <ul>
        <li>
            <a href="{{ path('relations_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>#}
    {% endblock %}
