{% import ":Frontend/Macros/Prospect:photoDisplay250px.html.twig" as photoDisplay %}

{% block content %}
    <div class="container" id="container-relationship">                   
        
        <div class="page-nav">
            {#                <a  class="btn-dark" href="{{ path('relationship_show', {'id': relationship.id }) }}"><i class="fa fa-caret-left"></i> Relationship</a>#}
{#            <a class="btn-basic" href="{{ path('prospect_show', {"id": relationship.prospect.id}) }}" title="Show contact">Contact page</a>#}
            <p>Move the buttons right or left so you can read your choice.</p>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                {{ photoDisplay.primaryPhoto(relationship.prospect.photos) }}
            </div>
            <div class="col-md-9 page-content">                   
                {{ form_start(edit_form) }}
                    {{ form_row(edit_form.startDate, {'attr':{'class': 'datepicker'}, 'type':'text'  }) }}
                    
                    <div>
                        {{ form_label(edit_form.status, 'Ongoing relationship ?', {'label_attr': {'title': 'Do you still see each other ?', 'data-toggle': 'tooltip', 'class':'custom-tooltip'} }) }} 
                        <div class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.status) }}
                            <div id="appbundle_relationship_status_button" class="relationship_button"></div>   
                            {{ form_errors(edit_form.status) }}
                        </div>
                    </div>
                    <div>
                        {{ form_label(edit_form.meeting, 'Have you met ?') }}
                        <div class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.meeting) }}
                            <div id="appbundle_relationship_meeting_button" class="relationship_button"></div>   
                            {{ form_errors(edit_form.meeting) }}
                        </div>           
                    </div>  
                    <div>
                        {{ form_label(edit_form.flake, 'Flaky person', {'label_attr': {'title': 'If a date was planned, did he/she show up ?', 'data-toggle': 'tooltip', 'class':'custom-tooltip'} }) }}
                        <div class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.flake) }}
                                <div id="appbundle_relationship_flake_button" class="relationship_button"></div>
                            {{ form_errors(edit_form.flake) }}
                        </div>
                    </div>
                    <div>
                        <div id="meeting-count-input">
                        {{ form_label(edit_form.meetingCount, 'Meeting count', {'label_attr': {'title': 'How many dates so far ?', 'data-toggle': 'tooltip', 'class':'custom-tooltip'} }) }}     
                        {{ form_widget(edit_form.meetingCount) }}
                        </div>
                        <div>
                            <label></label><div id="slider-meetingCount"></div>
                        </div>
                        {{ form_errors(edit_form.meetingCount) }}                        
                    </div>
                    <div>
                        {{ form_label(edit_form.numclosed, 'Phone number', {'label_attr': {'title': 'Did you get a phone number ?', 'data-toggle': 'tooltip', 'class':'custom-tooltip'} }) }}
                        <div class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.numclosed) }}
                            <div id="appbundle_relationship_numclosed_button" class="relationship_button"></div>   
                            {{ form_errors(edit_form.meeting) }}
                        </div>           
                    </div>    
                    <div class="collapse">
                        {{ form_label(edit_form.kc, 'Have you kissed ?') }}
                        <div class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.kc) }}
                            <div id="appbundle_relationship_kc_button" class="relationship_button"></div>   
                            {{ form_errors(edit_form.kc) }}
                        </div>           
                    </div>    
                    <div class="collapse">
                        {{ form_label(edit_form.fc, 'Did you have sex ?') }}
                        <div class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.fc) }}
                            <div id="appbundle_relationship_fc_button" class="relationship_button"></div>   
                            {{ form_errors(edit_form.fc) }}
                        </div>           
                    </div>    
                    <div>
                        {{ form_label(edit_form.relationshipRank, 'Relationship level', {'label_attr': {'title': 'Nature of the relationship so far ?', 'data-toggle': 'tooltip', 'class':'custom-tooltip'} }) }}
                        {{ form_widget(edit_form.relationshipRank) }}
                        {{ form_errors(edit_form.relationshipRank) }}
                    </div>
                    <div>
                        {{ form_label(edit_form.distance, 'Distance problem ?', {'label_attr': {'title': 'Is he/she living too far ?', 'data-toggle': 'tooltip', 'class':'custom-tooltip'} }) }}
                        <div class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.distance) }}
                            <div id="appbundle_relationship_distance_button" class="relationship_button"></div>
                            {{ form_errors(edit_form.distance) }}
                        </div>                    
                    </div>                    
                    <div>
                        {{ form_label(edit_form.about, 'About', {'label_attr': {'title': 'Your comments', 'data-toggle': 'tooltip', 'class':'custom-tooltip'} }) }}
                        {{ form_widget(edit_form.about) }}
                        {{ form_errors(edit_form.about) }}
                    </div>
                    
                    {{ form_widget(edit_form.submit, {"label":"Save changes", "attr": {"class": "btn-basic-rose"}}) }}
                {{ form_end(edit_form) }}

                {#{{ form_start(delete_form) }}
                    <input class="btn btn-default" type="submit" value="Delete">
                {{ form_end(delete_form) }}#}
            </div>           
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            getDatepicker();
            
            $('[data-toggle="tooltip"]').tooltip();
            
            // Masking of kc and fc fields if no meeting
            var inputMeeting = $("input#appbundle_relationship_meeting");

            if (inputMeeting.prop("checked") && inputMeeting.val() == 1) {
                $("#appbundle_relationship_kc_row").parent().show();
                $("#appbundle_relationship_fc_row").parent().show();
            }
            // End
            
            $(".relationship_row").on("click", ".relationship_button", function(){      
                var input = $(this).prev();
                if(input.prop("checked")) {
                    input.prop("checked", false);
                    input.val("0");
                } else {
                    input.prop("checked", true);
                    input.val("1");
                }
            });
            
            // Special rule for meeting row: to hide kc and fc if unchecked
            $("#appbundle_relationship_meeting_row").on("click", "#appbundle_relationship_meeting_button", function(){                
                if($("input#appbundle_relationship_meeting").prop("checked")) {
                    $("input#appbundle_relationship_meeting").prop("checked", false);
                    $("input#appbundle_relationship_meeting").val("0");
                    
                    $("#appbundle_relationship_kc_row").parent().hide("slow");
                    $("#appbundle_relationship_fc_row").parent().hide("slow");                    
                } else {
                    $("input#appbundle_relationship_meeting").prop("checked", true);
                    $("input#appbundle_relationship_meeting").val("1");
                    
                    $("#appbundle_relationship_kc_row").parent().show("slow");
                    $("#appbundle_relationship_fc_row").parent().show("slow");
                }
            });


            $( "#slider-meetingCount" ).slider({
                range: "max",
                orientation: "horizontal",
                min: 0,
                max: 50,
                value: $( "#appbundle_relationship_meetingCount" ).val(),
                animate: 'slow',
                slide: function( event, ui ) {
                  $( "#appbundle_relationship_meetingCount" ).val( ui.value );
                }
            });
            
            $( "#appbundle_relationship_meetingCount" ).val( $( "#slider-meetingCount" ).slider( "value" ) );
        });    
    </script>
{% endblock %}
