{% import ":Frontend/Macros/Prospect:photoDisplay250px.html.twig" as photoDisplay %}

{% block content %}    
    <div class="container" id="container-relationship">                   
        
        <div class="page-nav">
            <p>{{ 'app.relationship.edit.notice'|trans }}</p>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                {{ photoDisplay.primaryPhoto(relationship.prospect.photos) }}
            </div>
            <div class="col-md-9 page-content">                   
                {{ form_start(edit_form) }}
                    <div>
                        {{ form_label(edit_form.startDate, 'app.relationship.edit.startdate') }}
                        {{ form_widget(edit_form.startDate, {'attr':{'class': 'datepicker'}, 'type':'text'  }) }}
                        {{ form_errors(edit_form.startDate) }}
                    </div>
                    <div>
                        {{ form_label(edit_form.status, 'app.relationship.edit.status') }} 
                        <div class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.status) }}
                            <div id="appbundle_relationship_status_button" class="relationship_button"></div>   
                            {{ form_errors(edit_form.status) }}
                        </div>
                    </div>
                    <div>
                        {{ form_label(edit_form.meeting, 'app.relationship.edit.met') }}
                        <div id="relationship_meeting_row" class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.meeting) }}
                            <div id="appbundle_relationship_meeting_button" class="relationship_button"></div>   
                            {{ form_errors(edit_form.meeting) }}
                        </div>           
                    </div>  
                    <div>
                        {{ form_label(edit_form.flake, 'app.relationship.edit.flake', 
                            {'label_attr': {'title': 'app.relationship.edit.tooltip.flake'|trans, 'data-toggle': 'tooltip', 'class':'custom-tooltip'} }) 
                        }}
                        <div class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.flake) }}
                                <div id="appbundle_relationship_flake_button" class="relationship_button"></div>
                            {{ form_errors(edit_form.flake) }}
                        </div>
                    </div>
                    <div>
                        {{ form_label(edit_form.numclosed, 'app.relationship.edit.numclose') }}
                        <div class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.numclosed) }}
                            <div id="appbundle_relationship_numclosed_button" class="relationship_button"></div>   
                            {{ form_errors(edit_form.meeting) }}
                        </div>           
                    </div>
                        
                    <div class="collapse meeting-option">
                        {{ form_label(edit_form.kc, 'app.relationship.edit.kc') }}
                        <div class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.kc) }}
                            <div id="appbundle_relationship_kc_button" class="relationship_button"></div>   
                            {{ form_errors(edit_form.kc) }}
                        </div>           
                    </div>    
                    <div class="collapse meeting-option">
                        {{ form_label(edit_form.fc, 'app.relationship.edit.fc') }}
                        <div class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.fc) }}
                            <div id="appbundle_relationship_fc_button" class="relationship_button"></div>   
                            {{ form_errors(edit_form.fc) }}
                        </div>           
                    </div>  
                    <div>
                        {{ form_label(edit_form.crush, 'app.relationship.edit.crush') }}
                        <div class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.crush) }}
                                <div id="appbundle_relationship_crush_button" class="relationship_button"></div>
                            {{ form_errors(edit_form.crush) }}
                        </div>
                    </div>    
                    <div>
                        {{ form_label(edit_form.relationshipRank, 'app.relationship.edit.rank') }}
                        {{ form_widget(edit_form.relationshipRank) }}
                        {{ form_errors(edit_form.relationshipRank) }}
                    </div>
                    <div>
                        {{ form_label(edit_form.distance, 'app.relationship.edit.distance') }}
                        <div class="relationship_row row-yes-no">
                            {{ form_widget(edit_form.distance) }}
                            <div id="appbundle_relationship_distance_button" class="relationship_button"></div>
                            {{ form_errors(edit_form.distance) }}
                        </div>                    
                    </div>                    
                    <div>
                        {{ form_label(edit_form.about, 'app.relationship.edit.about') }}
                        {{ form_widget(edit_form.about) }}
                        {{ form_errors(edit_form.about) }}
                    </div>
                    
                    {{ form_widget(edit_form.submit, {'label':'app.relationship.edit.submit', "attr": {"class": "btn-basic-rose"}}) }}
                {{ form_end(edit_form) }}
            </div>           
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            getDatepicker();
            var locale = "{{ app.request.locale }}";
            
            $('[data-toggle="tooltip"]').tooltip();
            
            // Masking of kc and fc fields if no meeting ***********************
            var inputMeeting = $("input#appbundle_relationship_meeting");
            if (inputMeeting.prop("checked") && inputMeeting.val() == 1) {
                $(".meeting-option").show();                
            }
            
            // Hide kc and fc if meeting input unchecked ***********************
            $("#relationship_meeting_row").on("click", "#appbundle_relationship_meeting_button", function(){ 
                if($("input#appbundle_relationship_meeting").prop("checked")) {                    
                    $(".meeting-option").hide("slow");                                    
                } else {                   
                    $(".meeting-option").show("slow");
                }
            });
            
            $(".relationship_row").on("click", ".relationship_button", function(){      
                var input = $(this).prev();
                if(input.prop("checked")) {
                    input.prop("checked", false);
                    input.val("0");
                } else {
                    input.prop("checked", true);
                    input.val("1");
                }
            });
            
{#            $( "#slider-meetingCount" ).slider({
                range: "max",
                orientation: "horizontal",
                min: 0,
                max: 50,
                value: $( "#appbundle_relationship_meetingCount" ).val(),
                animate: 'slow',
                slide: function( event, ui ) {
                  $( "#appbundle_relationship_meetingCount" ).val( ui.value );
                }
            });#}
            
{#            $( "#appbundle_relationship_meetingCount" ).val( $( "#slider-meetingCount" ).slider( "value" ) );#}
            
            // Ajax : submit form **********************************************
            {#$("form[name='appbundle_relationship']").on("click", "#appbundle_relationship_submit", function(event){
                event.preventDefault();
                
                var id = "{{ relationship.id }}";
                var form = $("form[name='appbundle_relationship']").serialize();
                var url = Routing.generate('ajax_relationship_update', {'id':id, '_locale': locale});
                
                $.ajax({
                    type: 'PUT',
                    url: url,
                    data: form,
                    success: function(response){

                        if (response === 'success') {
                            var msg = '<p>Success! Your modifications have been saved.</p>';
                            $("#confirm-panel").addClass(".confirm-success");
                        } else {
                            var msg = '<p>Oops! Something went wrong.</p>';
                            $("#confirm-panel").addClass(".confirm-danger");
                        }
                        
                        confirmPanel(msg);
                    }
                });
            });
            
            function confirmPanel(msg)
            {
                $("#confirm-panel").html(msg);
                $("#confirm-panel").animate({
                    "top": "0"
                }, 200, "linear", function(){
                    $(this).delay(3000).animate({
                        "top": "-75"
                    }, 200, "linear", function(){
                        $(this).empty();
                        $("#confirm-panel").removeClass();
                    });
                });                
            }#}
            
        });    
    </script>
{% endblock %}
