{% extends '::base.html.twig' %}
{% import ":Frontend/Macros:photoDisplay.html.twig" as photoDisplay %}

{% block title %}Relationship edit{% endblock %}

{% block body %}
    <div class="container-fluid container-data">
        <div class="container" id="container-relationship">
            <section class="page-title">
                <h1>Relationship details</h1> 
{#                <h2>Blablabla</h2>#}
            </section>
            <div class="page-title-underline"></div>            
            
            <aside class="section-aside">
                {{ photoDisplay.primaryPhotoOrLast(relationship.prospect.photos) }}
            </aside>
            <section class="section-content">
                <h3>{{ relationship.prospect.prenom }}</h3>

                <div class="page-content">
                    {{ form_start(edit_form) }}
                        <div>
                            {{ form_label(edit_form.status) }} 
                            <div id="appbundle_relationship_status_row" class="relationship_row">
                                {{ form_widget(edit_form.status) }}
                                <div id="appbundle_relationship_status_button" class="relationship_button"></div>   
                                {{ form_errors(edit_form.status) }}
                            </div>
                        </div>
                        <div>
                            {{ form_label(edit_form.meeting) }}
                            <div id="appbundle_relationship_meeting_row" class="relationship_row row-yes-no">
                                {{ form_widget(edit_form.meeting) }}
                                <div id="appbundle_relationship_meeting_button"></div>   
                                {{ form_errors(edit_form.meeting) }}
                            </div>           
                        </div>           
                        {{ form_row(edit_form.meetingCount) }}          
                        <div>
                            {{ form_label(edit_form.numclosed) }}
                            <div id="appbundle_relationship_numclosed_row" class="relationship_row row-yes-no">
                                {{ form_widget(edit_form.numclosed) }}
                                <div id="appbundle_relationship_numclosed_button" class="relationship_button"></div>   
                                {{ form_errors(edit_form.meeting) }}
                            </div>           
                        </div>    
                        <div class="collapse">
                            {{ form_label(edit_form.kc) }}
                            <div id="appbundle_relationship_kc_row" class="relationship_row row-yes-no">
                                {{ form_widget(edit_form.kc) }}
                                <div id="appbundle_relationship_kc_button" class="relationship_button"></div>   
                                {{ form_errors(edit_form.kc) }}
                            </div>           
                        </div>    
                        <div class="collapse">
                            {{ form_label(edit_form.fc) }}
                            <div id="appbundle_relationship_fc_row" class="relationship_row row-yes-no">
                                {{ form_widget(edit_form.fc) }}
                                <div id="appbundle_relationship_fc_button" class="relationship_button"></div>   
                                {{ form_errors(edit_form.fc) }}
                            </div>           
                        </div>    

                        {{ form_rest(edit_form) }}
                    {{ form_end(edit_form) }}

                    <a href="{{ path('relationship') }}">Back to the list</a>
                    
                    {{ form_start(delete_form) }}
                        <input class="btn btn-default" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
            </section>           
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            
            // Masking of kc and fc fields if no meeting
            var inputMeeting = $("input#appbundle_relationship_meeting");

            if (inputMeeting.prop("checked") && inputMeeting.val() == 1) {
                $("#appbundle_relationship_kc_row").parent().show();
                $("#appbundle_relationship_fc_row").parent().show();
            }
            // End
            
            $(".relationship_row").on("click", ".relationship_button", function(){      
                var input = $(this).prev();
                if(input.prop("checked")) {
                    input.prop("checked", false);
                    input.val("0");
                } else {
                    input.prop("checked", true);
                    input.val("1");
                }
            });
            
            // Special rule for meeting row: to hide kc and fc if unchecked
            $("#appbundle_relationship_meeting_row").on("click", "#appbundle_relationship_meeting_button", function(){                
                if($("input#appbundle_relationship_meeting").prop("checked")) {
                    $("input#appbundle_relationship_meeting").prop("checked", false);
                    $("input#appbundle_relationship_meeting").val("0");
                    
                    $("#appbundle_relationship_kc_row").parent().hide("slow");
                    $("#appbundle_relationship_fc_row").parent().hide("slow");                    
                } else {
                    $("input#appbundle_relationship_meeting").prop("checked", true);
                    $("input#appbundle_relationship_meeting").val("1");
                    
                    $("#appbundle_relationship_kc_row").parent().show("slow");
                    $("#appbundle_relationship_fc_row").parent().show("slow");
                }
            });
        });
    </script>
{% endblock %}
