{% extends '::base.html.twig' %}
{% block title %}Relationships{% endblock %}

{% block body -%}
    <div class="container">    
        <h1>Relationships</h1>

        <table class="records_list table">
            <thead>
                <tr>
    {#                <th>Id</th>#}
                    <th>First Name</th>
                    <th>Status</th>
                    <th>Meeting</th>
                    <th>Meeting count</th>
                    <th>Phone number</th>
                    <th>KC</th>
                    <th>FC</th>
                    <th>Catégorie</th>
                    <th>Distance</th>
                    <th>Flake</th>
                    <th>About</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for relationship in relationships %}
                <tr>
    {#                <td><a href="{{ path('relationship_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                    <td>{% if relationship.prospect %}{{ relationship.prospect.firstname }}{% endif %}</td>
                    <td>{% if relationship.status %}On{% else %}Off{% endif %}</td>
                    <td>{% if relationship.meeting %}Oui{% else %}Non{% endif %}</td>
                    <td>{% if relationship.meetingCount %}{{ relationship.meetingCount }}{% else %}0{% endif %}</td>
                    <td>{% if relationship.numclosed == 1 %}Oui{% else %}Non{% endif %}</td>
                    <td>{% if relationship.kc == 1 %}Oui{% else %}Non{% endif %}</td>
                    <td>{% if relationship.fc == 1 %}Oui{% else %}Non{% endif %}</td>
                    <td>{{ relationship.relationshipRank }}</td>
                    <td>{% if relationship.distance == 1 %}Oui{% else %}Non{% endif %}</td>
                    <td>{% if relationship.flake == 1 %}Oui{% else %}Non{% endif %}</td>
                    <td>{{ relationship.about }}</td>
                    <td>                
                        <a href="{{ path('relationship_show', { 'id': relationship.id }) }}">show</a>                    
                        <a href="{{ path('relationship_edit', { 'id': relationship.id }) }}">edit</a>                   
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{#    <ul>
        <li>
            <a href="{{ path('relationship_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>#}
    {% endblock %}
