{% extends '::base.html.twig' %}
{% block title %}Relationship{% endblock %}

{% block body -%}
    <h1>Relationship</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ relationship.id }}</td>                
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{% if relationship.prospect %}{{ relationship.prospect.prenom }}{% endif %}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if relationship.statut %}On{% else %}Off{% endif %}</td>
            </tr>
            <tr>
                <th>Rencontre</th>
                <td>{% if relationship.rencontre %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Rencontres</th>
                <td>{{ relationship.rencontreCount }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{% if relationship.numero %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Kc</th>
                <td>{% if relationship.kc %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Fc</th>
                <td>{% if relationship.fc %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ relationship.categorie }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{% if relationship.distance %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Flake</th>
                <td>{% if relationship.flake %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ relationship.commentaire }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('relationship') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('relationship_edit', { 'id': relationship.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
