{% extends '::base.html.twig' %}
{% import ":Frontend/Macros/prospect:photoDisplay250px.html.twig" as photoDisplay %}
{% block title %}Relationship{% endblock %}

{% block content %}
    <div class="container" id="container-relationship">
        <section class="page-title">
            <h1>Relationship with {{ relationship.prospect.firstname }}</h1>
        </section>
        <div class="page-title-underline"></div> 
        
        <div class="page-nav">
            <a class="btn-basic" href="{{ path('prospect_show', {"id": relationship.prospect.id}) }}" title="Show contact">Contact page</a>             
            <a class="btn-basic-ico" href="{{ path('relationship_edit', { 'id': relationship.id }) }}" title="Edit relationship"><i class="icon ion-ios-compose-outline"></i><span>Edit relationship</span></a>
            {{ form(delete_form) }}
        </div>
            
        <div class="row">
            <div class="col-md-3">
                {{ photoDisplay.primaryPhotoOrLast(relationship.prospect.photos) }}
            </div>

            <div class="col-md-9 page-content">
                <table class="table table-responsive" id="table-relationship-show">
                    <tbody>                        
                        <tr>
                            <th>Start date</th>
                            <td>{% if relationship.startDate %}{{ relationship.startDate|date('d-m-Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Relationship status</th>
                            <td>{% if relationship.status %}On{% else %}Off{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Have you met ?</th>
                            <td>{% if relationship.meeting %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Meeting count</th>
                            <td>{{ relationship.meetingCount }}</td>
                        </tr>
                        <tr>
                            <th>Have you kissed ?</th>
                            <td>{% if relationship.kc %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Did you have sex ?</th>
                            <td>{% if relationship.fc %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Relationship level</th>
                            <td>{{ relationship.relationshipRank }}</td>
                        </tr>
                        <tr>
                            <th>Distance problem ?</th>
                            <td>{% if relationship.distance %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Flake</th>
                            <td>{% if relationship.flake %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            <th>About</th>
                            <td>{{ relationship.about }}</td>
                        </tr>
                    </tbody>
                </table>
                                                   
                
                
            </div>
        </div>
    </div>
{% endblock %}
