{% extends '::base.html.twig' %}
{% block title %}Modifier le contact{% endblock %}
{% form_theme edit_form 'AppBundle:Form:fields.html.twig' %}

{% block body -%}
    <h1>Modifier un contact</h1>

{#    {{ form(edit_form) }}#}
    {{ form_start(edit_form, {'attr': {'id':'form-edit-prospect'}}) }}   
   
    {{ form_end(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('prospect') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
        
    <script type="text/javascript"> 

        $(document).ready(function(){
            $('.row_arrondissement').hide();
            
            $('.form-input-ville').change(function(){
                var ville = $(this).val().toLowerCase();

                if(ville == 'paris'){
                    $('.row_arrondissement').show('slow');
                }else{
                    $('.row_arrondissement').hide('slow');
                }
            });           
        });
        
    </script>
{% endblock %}
