{% extends '::base.html.twig' %}
{% block title %}Liste des contacts{% endblock %}

{% block body -%}
    <div class="page-header">
        <h3>Liste des contacts</h3>
        <a href="{{ path('prospect_new') }}" id="add_prospect" title ="Ajouter un contact"><i class="fa fa-plus"></i> Ajouter un contact</a>
    </div>
    
    <table id="table-prospects">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Source</th>
                <th>Photo Principale</th>
                <th>Date de création</th>
                <th>Actions</th> 
            </tr>
        </thead>
        <tbody>
        {% for prospect in prospects %}
            <tr id="{{ prospect.id }}">
                <td>
                    {% if prospect.pseudo %}
                        {{ prospect.pseudo }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ prospect.prenom }}</td>
                <td>{{ prospect.nom }}</td>
                <td>{{ prospect.age }}</td>
                <td>{{ prospect.ville }}</td>
                <td>{{ prospect.pays }}</td>
                <td>{{ prospect.source }}</td>
                <td class="photo_principale">
                    {% if prospect.photoPrincipale %}
                        <img class="img-responsive" src="{{ asset(prospect.getPhotoPrincipaleWeb) }}" alt="{{ asset(prospect.getPhotoPrincipaleWeb) }}" />
                    {% endif %}
                </td>
                <td>
                    {% if prospect.dateCreation %}{{ prospect.dateCreation|date('d-m-Y') }}{% endif %}
                </td>
                <td>
                    <a class="" href="{{ path('prospect_show', { 'id': prospect.id }) }}"><i class="fa fa-eye"></i></a>                       
                    <a class="" href="{{ path('prospect_edit', { 'id': prospect.id }) }}"><i class="fa fa-pencil-square-o"></i></a>  
                    <a href="#" class="delete" data-id="{{ prospect.id }}" data-token="{{ csrf_token }}" title="Delete"><i class="fa fa-trash-o"></i></a>
                    {% if prospect.relation %}
{#                        <a class="" href="{{ path('relation_show', { 'id': entity.relation.id }) }}">relation</a>#}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>   
        
    {# Modales #}
    <div class="modal fade" id="modal_form_new" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ajouter un contact</h4>
                </div>    
                <div class="modal-body" id="modal_form_new_body">
                    {# Form returned by ajax #}
                </div>    
                <div class="modal-footer">    
                </div>    
            </div>    
        </div>
    </div>
                
    {# POPUP OVERLAY D'ATTENTE AJAX #}
    <div class="overlay"></div>
    <div class="loader_standard">
        <p>Chargement...</p>
        <img src="{{ asset('bundles/app/images/ajax-loader.gif') }}" />
    </div>             
        
    {# WIDGETS #}
    <div class="hidden" id="path_form_new_prospect" data-path="{{ path("ajax_new_prospect_form") }}"></div>
    <div class="hidden" id="path_delete_prospect" data-path="{{ path("ajax_delete_prospect", {'id': 'id'}) }}"></div>
        
    {% block javascript %}
        {% javascripts 
            'bundles/app/js/prospect_index.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    
    <script type="text/javascript">
        $(document).ready(function(){                   
            
            $.fn.dataTable.moment('DD-MM-YYYY' );
            
            initTableProspects();
            
            function initTableProspects()
            {
                $("#table-prospects").DataTable({
                    "order": [[ 9, "desc" ]],
                    "columns": [
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        { 
                            className: "actions",
                            "width": "90px"
                        }
                    ]
                });
            }
            
            // Ajax: get add form
            $("#add_prospect").click(function(event){
                event.preventDefault();
                
                $(".overlay").show(200, function(){
                    $(".loader_standard").show();
                });                
                
                var url = $("#path_form_new_prospect").data("path");
                
                $.get(url, function(response){                    
                    
                    $("#modal_form_new_body").html(response); // coller la vue dans une modale                  
                    $('#modal_form_new').appendTo('body');
                    
                    $(".loader_standard").hide(200, function(){
                        $(".overlay").hide();   
                    });                                     
                    
                    $('#modal_form_new').modal('show');
                });
            });
            
            $("#table-prospects").on("click", ".delete", function(event){
                event.preventDefault();
                
                var prospect_id = $(this).data("id");
                var csrf_token = $(this).data("token");
                
                $.confirm({
                    confirm: function(){
                        ajaxDeleteProspect(prospect_id, csrf_token);
                    },
                    cancel: function(){
                        console.log('the user clicked cancel');
                    }
                });
            });
            
            /**
             * Deletes a prospect with ajax
             * 
             * @param {int} prospect_id
             * @param {string} csrf_token
             * @returns {undefined}
             */
            function ajaxDeleteProspect(prospect_id, csrf_token)
            {
                var url = $("#path_delete_prospect").data("path");
                url = url.replace('id', prospect_id);

                var data = {'csrf_token': csrf_token};

                $.post(url, data, function(response){
console.log(response);
                });
            }

            
        });
    </script>
{% endblock %}
