{% extends '::base.html.twig' %}
{% block title %}Liste des contacts{% endblock %}

{% block body -%}
    <h3>Liste des contacts</h3>

    <table class="table datatable">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Ville</th>
                <th>Arr.</th>
                <th>Pays</th>
                <th>Source</th>
                <th>Photo Principale</th>
                <th>Date de création</th>
                <th>Actions</th> 
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr id="{{ entity.id }}">
                <td>
                    {% if entity.pseudo %}
                        {{ entity.pseudo }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.age }}</td>
                <td>{{ entity.ville }}</td>
                <td>{{ entity.arrondissement }}</td>
                <td>{{ entity.pays }}</td>
                <td>{{ entity.source }}</td>
                <td class="photo_principale">
                    {% if entity.photoPrincipale %}
                        <img class="img-responsive" src="{{ asset(entity.getPhotoPrincipaleWeb) }}" alt="{{ asset(entity.getPhotoPrincipaleWeb) }}" />
                    {% endif %}
                </td>
                <td>
                    {% if entity.dateCreation %}{{ entity.dateCreation|date('d-m-Y') }}{% endif %}
                </td>
                <td>
                    <a class="" href="{{ path('prospect_show', { 'id': entity.id }) }}">show</a>                       
                    <a class="" href="{{ path('prospect_edit', { 'id': entity.id }) }}">edit</a>  
                    
                    {% if entity.relation %}
{#                        <a class="" href="{{ path('relation_show', { 'id': entity.relation.id }) }}">relation</a>#}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-default" href="{{ path('prospect_new') }}">
        Ajouter un contact
    </a>
        
    <script type="text/javascript">
        $(document).ready(function(){                   
            
            
        });
    </script>
{% endblock %}
