{% extends '::base_nomenu.html.twig' %}
{% block title %}New contact{% endblock %}
{% form_theme form 'AppBundle:Form:fields.html.twig' %}  

{% block body -%}
    <h1>New contact</h1>
    
    {{ form_start(form, {'attr': {'id':'form-new-prospect'}}) }}   
        {{ form_row(form.pseudo) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.age) }}
        {{ form_row(form.ville) }}
        {{ form_row(form.arrondissement) }}
        {{ form_row(form.pays) }}
        {{ form_row(form.numero) }}
        {{ form_row(form.numeroDom) }}
        {{ form_row(form.numeroEtranger) }}
        {{ form_row(form.source) }}
        
        {{ form_label(form.photos) }}
        {{ form_errors(form.photos) }}
        
        <ul id="photo-list" data-prototype="{{ form_widget(form.photos.vars.prototype)|e }}">
            {% for photo in form.photos %}
                <li>
                    {{ form_errors(photo) }}
                    {{ form_widget(photo) }}
                </li>
            {% endfor %}
        </ul>

        {{ form_row(form.dateCreation, {'attr':{'class': 'datepicker'}, 'type':'text'  }) }}

        {{ form_row(form.submit) }}
        <div class="hidden">{{ form_rest(form) }}</div>
    {{ form_end(form) }} 


<script type="text/javascript"> 

    $(document).ready(function(){
        
        getDatepicker();

        $('.form-input-ville').change(function(){
            var ville = $(this).val().toLowerCase();

            if(ville === 'paris'){
                $('.row_arrondissement').show('fast');
            }else{
                $('.row_arrondissement').hide('fast');
            }
        });                
    });  

</script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% javascripts
        'bundles/app/js/photos.js'
    %}        
    <script src="{{ asset_url }}"></script>
    {% endjavascripts%}
{% endblock %}

