{% extends '::base.html.twig' %}
{% block title %}Liste des relations{% endblock %}

{% block body -%}    
    <h1>Liste des relations</h1>

    <table class="records_list table">
        <thead>
            <tr>
{#                <th>Id</th>#}
                <th>Prénom</th>
                <th>Statut</th>
                <th>Rencontre</th>
                <th>Rencontres</th>
                <th>Numéro</th>
                <th>KC</th>
                <th>FC</th>
                <th>Catégorie</th>
                <th>Distance</th>
                <th>Flake</th>
                <th>Commentaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for relation in relations %}
            <tr>
{#                <td><a href="{{ path('relation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                <td>{% if relation.prospect %}{{ relation.prospect.prenom }}{% endif %}</td>
                <td>{% if relation.statut %}On{% else %}Off{% endif %}</td>
                <td>{% if relation.rencontre %}Oui{% else %}Non{% endif %}</td>
                <td>{% if relation.rencontreCount %}{{ relation.rencontreCount }}{% else %}0{% endif %}</td>
                <td>{% if relation.numero == 1 %}Oui{% else %}Non{% endif %}</td>
                <td>{% if relation.kc == 1 %}Oui{% else %}Non{% endif %}</td>
                <td>{% if relation.fc == 1 %}Oui{% else %}Non{% endif %}</td>
                <td>{{ relation.categorie }}</td>
                <td>{% if relation.distance == 1 %}Oui{% else %}Non{% endif %}</td>
                <td>{% if relation.flake == 1 %}Oui{% else %}Non{% endif %}</td>
                <td>{{ relation.commentaire }}</td>
                <td>                
                    <a href="{{ path('relation_show', { 'id': relation.id }) }}">show</a>                    
                    <a href="{{ path('relation_edit', { 'id': relation.id }) }}">edit</a>                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <ul>
        <li>
            <a href="{{ path('relation_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>#}
    {% endblock %}
