{% extends '::base.html.twig' %}
{% block title %}Relation{% endblock %}

{% block body -%}
    <h1>Relation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ relation.id }}</td>                
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{% if relation.prospect %}{{ relation.prospect.prenom }}{% endif %}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if relation.statut %}On{% else %}Off{% endif %}</td>
            </tr>
            <tr>
                <th>Rencontre</th>
                <td>{% if relation.rencontre %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Rencontres</th>
                <td>{{ relation.rencontreCount }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{% if relation.numero %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Kc</th>
                <td>{% if relation.kc %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Fc</th>
                <td>{% if relation.fc %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ relation.categorie }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{% if relation.distance %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Flake</th>
                <td>{% if relation.flake %}Oui{% else %}Non{% endif %}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ relation.commentaire }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('relation') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('relation_edit', { 'id': relation.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
