{% extends '::base.html.twig' %}
{% block title %}Liste des échanges{% endblock %}

{% block content %}
    <h1>Liste des échanges</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Contact</th> <!-- En réalité l'entité "Prospect" -->
{#                <th>Prospect_id</th>#}
                <th>Date</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.prospect.nickname }}</td>
{#                <td>{{ entity.prospect.id }}</td>#}
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.contenu }}</td>
                <td>                
                    <a class="btn btn-default btn-xs" href="{{ path('echange_show', { 'id': entity.id }) }}">show</a>                  
                    <a class="btn btn-default btn-xs" href="{{ path('echange_edit', { 'id': entity.id }) }}">edit</a>                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <a class="btn btn-default" href="{{ path('echange_new') }}">
        Ajouter un nouvel échange
    </a>
        
    {% endblock %}
