{% extends '::base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block content %}
    <div class="container">
        <section class="page-title">
            <h1>Photos gallery</h1> 
            <h2>Add up to 5 photos, replace or delete them, then validate your changes at the bottom of the page</h2>
        </section>
        <div class="page-title-underline"></div>
        
        <a class="page-button" href="{{ path('prospect') }}" title="Back to prospects">Back to contacts</a>

        {{ form_start(editForm, {'attr': {'id':'form-edit-prospect'}}) }}          

            {{ form_label(editForm.photos) }}
            {{ form_errors(editForm.photos) }}

            <ul id="photo-list" data-prototype="{{ form_widget(editForm.photos.vars.prototype)|e }}">
                <div class="row">
                    {% for photo in editForm.photos %}
                        <li class="col-md-4" id="{{ photo.vars.form.vars['name'] }}">
                            <div class="photo-frame">                                
                                <img src="{{ asset(photo.vars.data.path) }}" alt="Photo" />                                
                                <div class="primary"></div>
                                <div class="mask">  
                                    <a class="gallery" href="{{ asset(photo.vars.data.path) }}"></a>
                                </div>                                
                            </div>
                            <div class="photo-actions">
                                <div class="row">
                                    <div class="col-md-4 photo-selected">
                                        {# Make photo primary #}
                                        {{ form_errors(photo.selected) }}
                                        {{ form_label(photo.selected) }}
                                        {{ form_widget(photo.selected) }}
                                    </div>
                                    <div class="col-md-8 photo-buttons">
                                        <ul class="pull-right">                                            
                                            <li>
                                                <a href="#" id="{{ photo.vars.data.id }}" class="change-photo" title="Modify photo"><i class="fa fa-file-image-o"></i></a>    
                                            </li>
                                             <li>
                                                <a href="{{ path('photo_edit', {'id': photo.vars.data.id}) }}" title="Crop photo"><i class="fa fa-crop"></i></a>
                                            </li>
                                            <li class="delete-photo" title="Delete photo">

                                            </li>
                                        </ul>                                            
                                    </div>
                                    <div class="prototype hidden">
                                        {{ form_errors(photo.file) }}
                                        {{ form_widget(photo.file) }} 
                                    </div>
                                </div>                                           
                            </div>                                           
                        </li>

                        {% if loop.index % 3 == 0 %} {# Close the div row every 3rd item and open a new one #}
                            </div>
                            <div class="row">
                        {% endif %}
                    {% endfor %}
                </div>
            </ul>       
            <div class="clearfix"></div>
            
            {{ form_row(editForm.submit, {'attr': {'class': 'btn-submit-light pull-right'}}) }}
            <div class="hidden">{{ form_rest(editForm) }}</div>
            
            {# Modal: change photo #}
            <div class="modal fade" id="photoFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Choose another photo</h4>
                        </div>
                        <div class="modal-body">
                            <div id="image_preview">
                                <img id="" src="{{ asset('/bundles/app/images/prospect_no_photo.jpg') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(editForm) }}
    </div>   
    
        
    <script type="text/javascript">
        $(document).ready(function(){
            
            // Only one checkbox ticked at a time when selecting primary photo
            $("input[type='checkbox']").on("change", function(){
                                
                $("input[type='checkbox']").not(this).prop("checked", false);
                
                // Put back original border css and add "highlight" css for selected photo
                $("input[type='checkbox']").not(this).closest(".photo-actions").prev(".photo-frame").find(".primary").css("opacity", "0");                
                $(this).closest(".photo-actions").prev(".photo-frame").find(".primary").css("opacity", "1");
            });
            
            
            // Highlight selected photo at doc ready
            $("input[type='checkbox']:checked").closest(".photo-actions").prev(".photo-frame").find(".primary").css("opacity", "1");
          
          
            // Colorbox for full sized image
            $("a.gallery").colorbox({
                onLoad: function(){
                    $('#cboxClose').html('&times;'); // Replace the close button
                }
            });
            
            
            // Adjust photo-frame height for existing photos
            var width = $(".photo-frame").width();
            $(".photo-frame").height(width);

            // Adjust photo placement with ratio
            $("#photo-list .photo-frame").find("img").each(function(){
                var imgClass = (this.width/this.height > 1) ? 'wide' : 'tall';
                $(this).addClass(imgClass);
            });            
            
            // On click on "change" photo
            $("#photo-list").on("click", ".change-photo", function(e){
                e.preventDefault();

                var liId = $(this).closest('ul').closest('.row').closest('li').attr("id");
                var inputFile = $(this).closest(".row").find(".prototype").children("input");                
              
                $("<div id="+liId+"></div>").appendTo("#photoFormModal .modal-body");
                $(inputFile).appendTo("#photoFormModal .modal-body");               
                
                $(inputFile).on('change', function () {
                    var files = $(this)[0].files;
                   
                    if (files.length > 0) {
                        // On part du principe qu'il n'y qu'un seul fichier (pas d'attribut "multiple")
                        var 
                            file = files[0], 
                            image_preview = $('#image_preview');                        

                        // Ici on injecte les informations recoltées sur le fichier pour l'utilisateur
                        image_preview.find('img').attr('src', window.URL.createObjectURL(file));
                    }
                });

                $("#photoFormModal").modal("show");
            });
            
            // On modal close :
            $('#photoFormModal').on('hidden.bs.modal', function () {
                var liId = $("#image_preview").next().attr("id");
                var inputFile = $("#photoFormModal").find("input");

                // Put the form back in its place
                $(inputFile).appendTo($("#"+liId+" .prototype")); 
                
                // Update page preview
                var src = $('#image_preview').find('img').attr('src');
                
                if (src != "/bundles/app/images/prospect_no_photo.jpg") {                   
                    $("#"+liId+" .photo-frame img").attr("src", src);
                }
                
                // Cleanup and put the image preview template div, back in place
                $('#photoFormModal .modal-body').empty();
                $('#photoFormModal .modal-body').append("<div id='image_preview'><img src='/bundles/app/images/prospect_no_photo.jpg' /></div>");
            });
           
            // Adjust photo-frame height for added photos
{#            $("#photo-list").on("click", ".add-photo", function(){#}
{#                var height = $(this).height();#}
{#                var width = $(".new-form .photo-frame").width();#}

{#                $(".photo-frame").height(height);#}
{#            });#}

            // On click on class "form-new" (new li with form prototype)
            // Put preview in photo-frame
            $("#photo-list").on("change", ".new-form input[type='file']", function(){
                var files = $(this)[0].files;
                // A file should be there, because the input "changed", but test anyway
                if (files.length > 0) {                    
                    
                    var file = files[0];
                    $(this).closest('li.new-form').find('.photo-frame img').attr('src', window.URL.createObjectURL(file));
                }
            });            
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% javascripts
        'bundles/app/js/photos.js'
    %}        
    <script src="{{ asset_url }}"></script>
    {% endjavascripts%}
{% endblock %}