{#{% extends 'base.html.twig' %}#}
{% import ":Frontend/Macros/Prospect:photoDisplay250px.html.twig" as photoDisplay %}
{#{% block title %}{{ 'app.rating.browser-tab'|trans }}{% endblock %}#}

{% block content %}
    <div class="container">
        {#<section class="page-title">
            <h1>{{ 'app.rating.title'|trans }} {{ rating.prospect.firstname }}</h1> 
            <h2>{{ 'app.rating.subtitle'|trans }}</h2>
        </section>
        <div class="page-title-underline"></div>#}
        
{#        <div class="page-nav">#}
{#            <a class="btn-basic" href="{{ path('prospect_show', {"id": rating.prospect.id}) }}" title="{{ 'app.rating.btn-contact'|trans }}">{{ 'app.rating.btn-contact'|trans }}</a>#}
{#        </div>#}
        
        <div class="row">
            <div class="col-md-3">
                {{ photoDisplay.primaryPhoto(rating.prospect.photos) }}
            </div>
            
            <div class="col-md-9 page-content">
                {{ form_start(edit_form, {'method': 'PUT'} ) }}
                    <div>
                        {{ form_label(edit_form.attractiveness, 'app.rating.edit.label.attractiveness'|trans) }}     
                        <div class="rating attractiveness-rating"></div>               
                        <div class="hidden">{{ form_widget(edit_form.attractiveness) }}</div>
                        {{ form_errors(edit_form.attractiveness) }}
                    </div>
                    <div>
                        {{ form_label(edit_form.socialStatus, 'app.rating.edit.label.social-status'|trans) }} 
                        <div class="rating social-status-rating"></div>
                        <div class="hidden">{{ form_widget(edit_form.socialStatus) }}</div>
                        {{ form_errors(edit_form.socialStatus) }}
                    </div>
                    <div>
                        {{ form_label(edit_form.senseHumor, 'app.rating.edit.label.humor'|trans) }}
                        <div class="rating sense-humor-rating"></div>                
                        <div class="hidden">{{ form_widget(edit_form.senseHumor) }}</div>
                        {{ form_errors(edit_form.senseHumor) }}
                    </div>
                    <div>
                        {{ form_label(edit_form.cooking, 'app.rating.edit.label.cooking'|trans) }}
                        <div class="rating cooking-rating"></div>                
                        <div class="hidden">{{ form_widget(edit_form.cooking) }}</div>
                        {{ form_errors(edit_form.cooking) }}
                    </div>
                    <div>
                        {{ form_label(edit_form.kissing, 'app.rating.edit.label.kissing'|trans) }}
                        <div class="rating kissing-rating"></div> 
                        <div class="hidden">{{ form_widget(edit_form.kissing) }}</div>
                        {{ form_errors(edit_form.kissing) }}
                    </div>
                    <div>
                        {{ form_label(edit_form.sex, 'app.rating.edit.label.sex'|trans) }}
                        <div class="rating sex-rating"></div> 
                        <div class="hidden">{{ form_widget(edit_form.sex) }}</div>
                        {{ form_errors(edit_form.sex) }}
                    </div>

                    <div class="hidden">
                        {{ form_rest(edit_form) }}
                    </div>
                    
                    <input class="btn-basic-rose" type="submit" value="{{ 'app.rating.btn-save'|trans }}" />
                    
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function(){            
            
            var locale = "{{ app.request.locale }}";
            
            $("form[name='appbundle_rating'] input[max=5]").each(function(index, input) {

                var bddValue = input.value;
                
                $(input).parent().prev().starRating({
                    initialRating: bddValue,
                    totalStars: 5,                
                    starSize: 30,
                    disableAfterRate: false,
                    useGradient: false,
                    emptyColor: '#ddd',
                    hoverColor: 'gold',
                    useFullStars: true,
                    callback: function(currentRating, $el){
                        
                        $el.next().children().val(currentRating);    
                        
                        // Option 1 : update input for future submit
                        // Option 2 : immediate ajax request update
                    }
                });                
            });            
            
            $("form[name='appbundle_rating']").on("click", "input[type='submit']", function(event){
                event.preventDefault();
                
                var id = "{{ rating.id }}";
                var url = Routing.generate('ajax_edit_rating', {'_locale':locale, 'id': id});
                var form = $("form[name='appbundle_rating']").serialize();                
              
                $.ajax({
                    data: form,
                    url: url,
                    type: 'PUT',
                    success: function(response){
                        if (response === 'success') {
                            var msg = '<p>Success! Your modifications have been saved.</p>';
                            $("#confirm-panel").addClass(".confirm-success");
                        } else {
                            var msg = '<p>Oops! Something went wrong.</p>';
                            $("#confirm-panel").addClass(".confirm-danger");
                        }
                        
                        confirmPanel(msg);
                    }
                });    
            });
            
            function confirmPanel(msg)
            {
                $("#confirm-panel").html(msg);
                $("#confirm-panel").animate({
                    "top": "0"
                }, 200, "linear", function(){
                    $(this).delay(3000).animate({
                        "top": "-75"
                    }, 200, "linear", function(){
                        $(this).empty();
                        $("#confirm-panel").removeClass();
                    });
                });                
            }
            
        });       
        
    </script>
{% endblock %}

